In [1]:
import numpy as np, matplotlib.pyplot as plt, pandas as pd
pd.set_option('display.max_rows', 40)

from vivarium_research_prl.noise import corruption, fake_names, noisify

!date
!whoami
!uname -a
!pwd

Tue 10 Jan 2023 04:01:25 PM PST
ndbs
Linux int-slurm-sarchive-p0001 5.4.0-88-generic #99-Ubuntu SMP Thu Sep 23 17:29:00 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
/mnt/share/code/ndbs/vivarium_research_prl/noise

In [2]:
%load_ext autoreload
%autoreload 2

# Test some NumPy functionality

In [10]:
a = np.array('9 8 3 0 5 7 3 6 6 7 8 9'.split())
a

array(['9', '8', '3', '0', '5', '7', '3', '6', '6', '7', '8', '9'],
      dtype='<U1')

In [11]:
s = pd.Series(a)
s

0     9
1     8
2     3
3     0
4     5
5     7
6     3
7     6
8     6
9     7
10    8
11    9
dtype: object

In [12]:
ac = a.copy()
ac.sort()
ac

array(['0', '3', '3', '5', '6', '6', '7', '7', '8', '8', '9', '9'],
      dtype='<U1')

In [13]:
u = s.unique()
u

array(['9', '8', '3', '0', '5', '7', '6'], dtype=object)

In [14]:
u.sort()
u

array(['0', '3', '5', '6', '7', '8', '9'], dtype=object)

# Test random increment function

In [28]:
rng=np.random.default_rng(2928485757454)

In [29]:
sint = s.astype(int)
sn = corruption.add_random_increment(sint, [-1,0,1], random_state=rng)
sn

0      9
1      8
2      2
3     -1
4      6
5      8
6      4
7      6
8      6
9      8
10     9
11    10
dtype: int64

In [32]:
sint

0     9
1     8
2     3
3     0
4     5
5     7
6     3
7     6
8     6
9     7
10    8
11    9
dtype: int64

In [30]:
sint.compare(sn)

    self  other
2    3.0    2.0
3    0.0   -1.0
4    5.0    6.0
5    7.0    8.0
6    3.0    4.0
9    7.0    8.0
10   8.0    9.0
11   9.0   10.0

# Test more NumPy stuff

In [34]:
np.maximum(3,6)

6

In [35]:
np.maximum(sn, 0)

0      9
1      8
2      2
3      0
4      6
5      8
6      4
7      6
8      6
9      8
10     9
11    10
dtype: int64

In [36]:
type(np.maximum(sn, 0))

pandas.core.series.Series

In [41]:
np.where(sn<0, 1, sn)

array([ 9,  8,  2,  1,  6,  8,  4,  6,  6,  8,  9, 10])

In [47]:
snc=sn.copy()
np.maximum(snc, 1, where=(sn<0), out=snc.to_numpy())

0      9
1      8
2      2
3      1
4      6
5      8
6      4
7      6
8      6
9      8
10     9
11    10
dtype: int64

In [48]:
snc

0      9
1      8
2      2
3      1
4      6
5      8
6      4
7      6
8      6
9      8
10     9
11    10
dtype: int64

In [49]:
sn

0      9
1      8
2      2
3     -1
4      6
5      8
6      4
7      6
8      6
9      8
10     9
11    10
dtype: int64

In [51]:
sn.mask(sn<0,1)

0      9
1      8
2      2
3      1
4      6
5      8
6      4
7      6
8      6
9      8
10     9
11    10
dtype: int64

In [52]:
sn

0      9
1      8
2      2
3     -1
4      6
5      8
6      4
7      6
8      6
9      8
10     9
11    10
dtype: int64

In [55]:
snc2 = sn.copy()
snc2.mask(snc2<0, 1, inplace=True)
snc2

0      9
1      8
2      2
3      1
4      6
5      8
6      4
7      6
8      6
9      8
10     9
11    10
dtype: int64

In [56]:
sn

0      9
1      8
2      2
3     -1
4      6
5      8
6      4
7      6
8      6
9      8
10     9
11    10
dtype: int64