In [1]:
import numpy as np, matplotlib.pyplot as plt, pandas as pd
pd.set_option('display.max_rows', 8)
!date

%load_ext autoreload
%autoreload 2

Wed Mar 29 15:45:09 PDT 2023

# `pseudopeople` alpha 0.1

In [2]:
!pip install pseudopeople

Looking in indexes: https://pypi.org/simple, https://artifactory.ihme.washington.edu/artifactory/api/pypi/pypi-shared/simple
Collecting pseudopeople
  Downloading pseudopeople-0.1.0-py3-none-any.whl (9.8 kB)
Requirement already satisfied: vivarium in /mnt/share/homes/abie/miniconda3/lib/python3.7/site-packages (from pseudopeople) (1.0.4)
Requirement already satisfied: pandas in /mnt/share/homes/abie/miniconda3/lib/python3.7/site-packages (from pseudopeople) (1.3.5)
Requirement already satisfied: pyyaml>=5.1 in /mnt/share/homes/abie/miniconda3/lib/python3.7/site-packages (from pseudopeople) (6.0)
Requirement already satisfied: pytz>=2017.3 in /mnt/share/homes/abie/miniconda3/lib/python3.7/site-packages (from pandas->pseudopeople) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /mnt/share/homes/abie/miniconda3/lib/python3.7/site-packages (from pandas->pseudopeople) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /mnt/share/homes/abie/miniconda3/lib/python3.7/site-packages (from pandas->pseudopeople) (2.8.2)
Requirement already satisfied: networkx in /mnt/share/homes/abie/miniconda3/lib/python3.7/site-packages (from vivarium->pseudopeople) (2.6.3)
Requirement already satisfied: loguru in /mnt/share/homes/abie/miniconda3/lib/python3.7/site-packages (from vivarium->pseudopeople) (0.6.0)
Requirement already satisfied: click in /mnt/share/homes/abie/miniconda3/lib/python3.7/site-packages (from vivarium->pseudopeople) (8.1.3)
Requirement already satisfied: tables in /mnt/share/homes/abie/miniconda3/lib/python3.7/site-packages (from vivarium->pseudopeople) (3.7.0)
Requirement already satisfied: scipy in /mnt/share/homes/abie/miniconda3/lib/python3.7/site-packages (from vivarium->pseudopeople) (1.7.3)
Requirement already satisfied: six>=1.5 in /mnt/share/homes/abie/miniconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas->pseudopeople) (1.16.0)
Requirement already satisfied: importlib-metadata in /mnt/share/homes/abie/miniconda3/lib/python3.7/site-packages (from click->vivarium->pseudopeople) (1.7.0)
Requirement already satisfied: packaging in /mnt/share/homes/abie/miniconda3/lib/python3.7/site-packages (from tables->vivarium->pseudopeople) (21.3)
Requirement already satisfied: numexpr>=2.6.2 in /mnt/share/homes/abie/miniconda3/lib/python3.7/site-packages (from tables->vivarium->pseudopeople) (2.8.1)
Requirement already satisfied: zipp>=0.5 in /mnt/share/homes/abie/miniconda3/lib/python3.7/site-packages (from importlib-metadata->click->vivarium->pseudopeople) (3.8.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /mnt/share/homes/abie/miniconda3/lib/python3.7/site-packages (from packaging->tables->vivarium->pseudopeople) (3.0.9)
Installing collected packages: pseudopeople
Successfully installed pseudopeople-0.1.0

In [3]:
import pseudopeople as pp

In [4]:
pp.generate_decennial_census()

TypeError: generate_decennial_census() missing 1 required positional argument: 'path'

In [21]:
%%time

fpath = ('/mnt/team/simulation_science/priv/engineering/vivarium_census_prl_synth_pop/results/'
        'full_scale_334mil/united_states_of_america/2023_03_21_16_39_38/final_results/2023_03_22_10_29_16/'
         'decennial_census_observer/decennial_census_observer_1007.csv.bz2')
fpath = ('/ihme/scratch/users/zmbc/vivarium_results/united_states_of_america/2023_03_20_11_09_48/final_results/'
        '2023_03_20_12_31_44/decennial_census_observer/decennial_census_observer.csv.bz2')
# I would prefer this to work with a directory, I think; or perhaps we should pack all the data into an HDF or something??
df = pp.generate_decennial_census(fpath)

CPU times: user 461 ms, sys: 113 ms, total: 573 ms
Wall time: 578 ms

In [22]:
df2 = pp.generate_decennial_census(fpath, seed=12345)
df2

,middle_initial,state,age,housing_type,city,date_of_birth,simulant_id,unit_number,guardian_1,relation_to_household_head,sex,zipcode,race_ethnicity,last_name,year,street_number,street_name,guardian_2,first_name
0,M,USA,76.024932,Standard,Anytown,1944-03-23,0_4,NaN,0_-1,Reference person,Female,90210,Black,Shipp,2020,1312,commonwealth avnue,0_-1,Maureen
1,N,USA,69.07526,Standard,Anytown,1951-03-05,0_5,NaN,0_-1,Opp-sex spouse,Male,90210,Black,Shipp,2020,1312,commonwealth avnue,0_-1,Richard
2,C,USA,66.661179,Standard,Anytown,1953-08-03,0_2464,NaN,0_-1,Reference person,Female,90210,Black,Holt,2020,46,bancroft st,0_-1,Darlene
3,S,USA,42.860033,Standard,Anytown,1977-05-22,0_3558,NaN,0_-1,Reference person,Female,90210,Black,Holt,2020,9112,janis ne,0_-1,Tabatha
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19950,K,USA,77.426139,Standard,Anytown,1952-10-15,0_18073,NaN,0_-1,Reference person,Male,90210,Black,Hughes,2030,21,mammoth springs dr,0_-1,Clyde
19951,C,USA,2.432617,Standard,Anytown,2027-11-11,0_22588,NaN,0_14366,Reference person,Female,90210,Black,Walker,2030,8728,high pine meadows r,0_-1,Stephanie
19952,D,USA,23.51732,Standard,Anytown,2006-10-10,0_22759,NaN,0_-1,Reference person,Male,90210,White,Foster,2030,1900,ranch loop,0_-1,Austin
19953,E,USA,22.588195,Standard,Anytown,2007-09-15,0_22760,NaN,0_-1,Roommate,Male,90210,White,Smith,2030,1900,ranch loop,0_-1,Chandler

In [23]:
# looks like seed is not being used yet
assert not pd.allclose(df, df2)

AttributeError: module 'pandas' has no attribute 'allclose'

In [27]:
# I would prefer to include the config programmatically; yaml files are not going to be useful for my typical workflows
from pseudopeople.utilities import get_configuration
config = get_configuration()

df3 = pp.generate_decennial_census(fpath, seed=12345, configuration=config)
df3

,middle_initial,state,age,housing_type,city,date_of_birth,simulant_id,unit_number,guardian_1,relation_to_household_head,sex,zipcode,race_ethnicity,last_name,year,street_number,street_name,guardian_2,first_name
0,M,USA,76.024932,Standard,Anytown,1944-03-23,0_4,NaN,0_-1,Reference person,Female,90210,Black,Shipp,2020,1312,commonwealth avnue,0_-1,Maureen
1,N,USA,69.07526,Standard,Anytown,1951-03-05,0_5,NaN,0_-1,Opp-sex spouse,Male,90210,Black,Shipp,2020,1312,commonwealth avnue,0_-1,Richard
2,C,USA,66.661179,Standard,Anytown,1953-08-03,0_2464,NaN,0_-1,Reference person,Female,90210,Black,Holt,2020,46,bancroft st,0_-1,Darlene
3,S,USA,42.860033,Standard,Anytown,1977-05-22,0_3558,NaN,0_-1,Reference person,Female,90210,Black,Holt,2020,9112,janis ne,0_-1,Tabatha
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19950,K,USA,77.426139,Standard,Anytown,1952-10-15,0_18073,NaN,0_-1,Reference person,Male,90210,Black,Hughes,2030,21,mammoth springs dr,0_-1,Clyde
19951,C,USA,2.432617,Standard,Anytown,2027-11-11,0_22588,NaN,0_14366,Reference person,Female,90210,Black,Walker,2030,8728,high pine meadows r,0_-1,Stephanie
19952,D,USA,23.51732,Standard,Anytown,2006-10-10,0_22759,NaN,0_-1,Reference person,Male,90210,White,Foster,2030,1900,ranch loop,0_-1,Austin
19953,E,USA,22.588195,Standard,Anytown,2007-09-15,0_22760,NaN,0_-1,Roommate,Male,90210,White,Smith,2030,1900,ranch loop,0_-1,Chandler

In [28]:
# I would prefer to include the config programmatically; yaml files are not going to be useful for my typical workflows
df4 = pp.generate_decennial_census(fpath, seed=12345, first_name__missing=.5)
df4

TypeError: generate_decennial_census() got an unexpected keyword argument 'first_name__missing'

In [29]:
from vivarium.framework.randomness import RandomnessStream

from pseudopeople.noise_functions import (
    generate_fake_names,
    generate_missing_data,
    generate_nicknames,
    generate_phonetic_errors,
)  # FIXME: generate_* does not seem as clear as it could be in this context

from pseudopeople.utilities import get_configuration

RANDOMNESS0 = RandomnessStream(
    key="test_column_noise", clock=lambda: pd.Timestamp("2020-09-01"), seed=0
)
RANDOMNESS1 = RandomnessStream(
    key="test_column_noise", clock=lambda: pd.Timestamp("2020-09-01"), seed=1
)

In [30]:
default_configuration = get_configuration()

In [31]:
t = default_configuration["decennial_census"]["zipcode"]["missing_data"]

In [32]:
t['row_noise_level'] = .9
t

row_noise_level:
    user: 0.9
        source: None
    base: 0.01
        source: initial data

In [33]:
default_configuration["decennial_census"]["zipcode"]["missing_data"]

row_noise_level:
    user: 0.9
        source: None
    base: 0.01
        source: initial data

In [34]:
tt = generate_missing_data(
        df.first_name, t, RANDOMNESS0, "test_missing_data"
    )
tt.sort_values()

0
12926
12924
12923
        ...
7194     Zoe
16340    Zoe
7924     Zoe
8706     Zoe
Name: first_name, Length: 19954, dtype: object

In [36]:
(tt == '').mean() # expect to be around 0.9

0.8981657812969831