In [1]:
import numpy as np, matplotlib.pyplot as plt, pandas as pd
pd.set_option('display.max_rows', 50)

import os
# Use this to see how much memory the dataframes use
from sys import getsizeof

import yaml
import re

import pseudopeople as pp
from pseudopeople.configuration import get_configuration
from vivarium.framework.randomness import RandomnessStream
from vivarium.config_tree import ConfigTree

from vivarium_research_prl.utils import sizemb, MappingViaAttributes
from vivarium_research_prl import datatypes, alpha, data_loading
from vivarium_research_prl.noise import corruption, fake_names, noisify
from vivarium_research_prl.find_kids import datasets, noisify_data


!date
!whoami
!uname -a
!pwd

Fri 14 Apr 2023 02:52:32 PM PDT
ndbs
Linux gen-slurm-sarchive-p0016 5.4.0-135-generic #152-Ubuntu SMP Wed Nov 23 20:19:22 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
/mnt/share/code/ndbs/vivarium_research_prl/pseudopeople_testing

In [2]:
%load_ext autoreload
%autoreload 2

# Code from large data test
print("\nSetting categories for", observer_name)
categorical_cols = [col for col in shards[0] if shards[0][col].dtype == 'category']
for col in categorical_cols:
    categories = shards[0][col].cat.categories
    for shard in shards[1:]:
        categories = categories.union(shard[col].cat.categories)
    for shard in shards:
        shard[col] = shard[col].cat.set_categories(categories)

In [3]:
project_dir = '/mnt/team/simulation_science/priv/engineering/vivarium_census_prl_synth_pop'
model_dir = (
    f'{project_dir}/results'
    '/v2.0_three_censuses/united_states_of_america/2023_04_08_14_07_04'
)
parquet_dir = f'{model_dir}/final_results/parquet'
hdf_dir = f'{model_dir}/final_results/hdf'
rhode_island_par_dir = f'{parquet_dir}/states/rhode_island'
usa_par_dir = f'{parquet_dir}/usa'
rhode_island_hdf_dir = f'{hdf_dir}/states/rhode_island'
usa_hdf_dir = f'{hdf_dir}/usa'

!ls -halt $hdf_dir

total 96K
drwxrwsr-x  3 rmudambi IHME-Simulationscience  512 Apr  9 18:49 states
drwxrwsr-x  5 rmudambi IHME-Simulationscience 1.5K Apr  9 18:49 .
drwxrwsr-x 10 rmudambi IHME-Simulationscience 4.0K Apr  9 15:35 usa
drwxrwsr-x  4 rmudambi IHME-Simulationscience 2.0K Apr  9 15:21 ..
drwxrwsr-x  2 rmudambi IHME-Simulationscience 335K Apr  9 11:55 logs

In [5]:
!ls -halt $usa_hdf_dir/social_security_observer

total 8.8G
drwxrwsr-x 10 rmudambi IHME-Simulationscience 4.0K Apr  9 15:35 ..
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 12:22 social_security_observer_5399.hdf
drwxrwsr-x  2 rmudambi IHME-Simulationscience 167K Apr  9 12:22 .
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:50 social_security_observer_9847.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:50 social_security_observer_9971.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:49 social_security_observer_9911.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:49 social_security_observer_9888.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:49 social_security_observer_99.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:49 social_security_observer_9772.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:49 social_security_observer_9901.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:49 social_security_observer_9871.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:49 social_security_observer_9402.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:49 social_security_observer_8516.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:48 social_security_observer_9292.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:48 social_security_observer_9066.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:48 social_security_observer_9024.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:48 social_security_observer_9723.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:48 social_security_observer_8527.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:48 social_security_observer_9740.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:48 social_security_observer_9840.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:48 social_security_observer_9696.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:48 social_security_observer_93.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:48 social_security_observer_9272.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:48 social_security_observer_9244.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:48 social_security_observer_9859.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:48 social_security_observer_9588.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:48 social_security_observer_821.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:48 social_security_observer_8734.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:48 social_security_observer_8156.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:48 social_security_observer_9367.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:48 social_security_observer_9549.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:47 social_security_observer_8360.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:47 social_security_observer_8425.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:47 social_security_observer_8877.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:47 social_security_observer_8755.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:47 social_security_observer_8129.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:47 social_security_observer_8221.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:47 social_security_observer_9159.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:47 social_security_observer_8869.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:47 social_security_observer_7589.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:46 social_security_observer_7927.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:46 social_security_observer_9225.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:46 social_security_observer_8305.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:46 social_security_observer_7594.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:46 social_security_observer_778.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:46 social_security_observer_7530.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:45 social_security_observer_7086.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:45 social_security_observer_9776.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:45 social_security_observer_7384.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:45 social_security_observer_7107.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:45 social_security_observer_7292.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:45 social_security_observer_7745.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:45 social_security_observer_7054.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:45 social_security_observer_9804.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:45 social_security_observer_7016.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:45 social_security_observer_9672.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:45 social_security_observer_682.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:45 social_security_observer_7275.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:45 social_security_observer_7303.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:45 social_security_observer_6654.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:45 social_security_observer_974.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:45 social_security_observer_9434.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:45 social_security_observer_8641.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:45 social_security_observer_7179.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:45 social_security_observer_6701.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:45 social_security_observer_8817.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:44 social_security_observer_6790.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:44 social_security_observer_9653.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:44 social_security_observer_8997.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:44 social_security_observer_6324.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:44 social_security_observer_7653.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:44 social_security_observer_6207.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:44 social_security_observer_9247.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:44 social_security_observer_6800.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:44 social_security_observer_9872.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:44 social_security_observer_6442.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:44 social_security_observer_9768.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:44 social_security_observer_9495.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:43 social_security_observer_8628.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:43 social_security_observer_9643.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:43 social_security_observer_9526.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:43 social_security_observer_860.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:43 social_security_observer_8612.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:43 social_security_observer_8980.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:43 social_security_observer_781.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:43 social_security_observer_9577.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:42 social_security_observer_8509.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:42 social_security_observer_9284.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:42 social_security_observer_7985.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:42 social_security_observer_8501.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:42 social_security_observer_8838.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:42 social_security_observer_6118.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:42 social_security_observer_8291.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:42 social_security_observer_9187.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:42 social_security_observer_8192.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:42 social_security_observer_7359.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:42 social_security_observer_8133.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:42 social_security_observer_8134.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:41 social_security_observer_7870.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:41 social_security_observer_7438.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:41 social_security_observer_7342.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:41 social_security_observer_7850.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:41 social_security_observer_7938.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:41 social_security_observer_6778.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:41 social_security_observer_6810.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:41 social_security_observer_7551.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:41 social_security_observer_6975.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:41 social_security_observer_7511.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:41 social_security_observer_771.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:40 social_security_observer_7125.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:40 social_security_observer_656.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:40 social_security_observer_7344.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:40 social_security_observer_6929.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:40 social_security_observer_7264.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:40 social_security_observer_6991.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:40 social_security_observer_7817.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:40 social_security_observer_734.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:40 social_security_observer_6751.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:40 social_security_observer_7164.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:39 social_security_observer_6874.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:39 social_security_observer_6817.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:39 social_security_observer_6191.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:39 social_security_observer_6793.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:39 social_security_observer_6545.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:39 social_security_observer_6144.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:39 social_security_observer_7137.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:39 social_security_observer_6982.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:39 social_security_observer_6606.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:39 social_security_observer_6123.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:39 social_security_observer_6519.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:39 social_security_observer_5901.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:39 social_security_observer_5969.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:38 social_security_observer_6776.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:38 social_security_observer_6539.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:38 social_security_observer_6760.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:38 social_security_observer_6455.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:38 social_security_observer_6554.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:38 social_security_observer_6520.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:38 social_security_observer_6487.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:38 social_security_observer_5616.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:38 social_security_observer_6090.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:37 social_security_observer_6007.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:37 social_security_observer_6079.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:37 social_security_observer_103.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:37 social_security_observer_1007.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:37 social_security_observer_5685.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:37 social_security_observer_7645.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:37 social_security_observer_5812.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:37 social_security_observer_6203.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:37 social_security_observer_5892.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:37 social_security_observer_5949.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:37 social_security_observer_5831.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:37 social_security_observer_5860.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:36 social_security_observer_5875.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:36 social_security_observer_5594.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:36 social_security_observer_5863.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:36 social_security_observer_5703.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:36 social_security_observer_5950.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:36 social_security_observer_5797.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:36 social_security_observer_5698.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:36 social_security_observer_5670.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:36 social_security_observer_5781.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:36 social_security_observer_5619.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:36 social_security_observer_5628.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:36 social_security_observer_5439.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:36 social_security_observer_5501.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:36 social_security_observer_5398.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:35 social_security_observer_5300.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:35 social_security_observer_5114.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:35 social_security_observer_5393.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:35 social_security_observer_539.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:35 social_security_observer_5004.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:35 social_security_observer_558.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:35 social_security_observer_5308.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:35 social_security_observer_5475.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:35 social_security_observer_5150.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:35 social_security_observer_4922.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:34 social_security_observer_5159.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:34 social_security_observer_5020.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:34 social_security_observer_4941.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:34 social_security_observer_494.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:34 social_security_observer_5046.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:34 social_security_observer_4943.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:34 social_security_observer_496.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:33 social_security_observer_4950.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:33 social_security_observer_4904.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:33 social_security_observer_5072.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:33 social_security_observer_4743.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:33 social_security_observer_478.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:33 social_security_observer_4938.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:32 social_security_observer_5440.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:32 social_security_observer_5548.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:32 social_security_observer_5348.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:31 social_security_observer_5246.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:31 social_security_observer_4672.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:31 social_security_observer_5188.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:30 social_security_observer_4802.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:30 social_security_observer_4649.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:29 social_security_observer_4637.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:29 social_security_observer_4622.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:28 social_security_observer_2808.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:28 social_security_observer_465.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:28 social_security_observer_2054.hdf
-rw-r--r--  1 rmudambi IHME-Simulationscience  27M Apr  9 11:28 social_security_observer_2277.hdf

In [16]:
filename = 'social_security_observer_9871.hdf'
matches = re.findall(r'_(\d+)\.', filename)
matches

['9871']

In [19]:
ext = '.hdf'
matches = re.findall(r'^.*_(\d+)' + ext + '$', filename)
matches

['9871']

In [35]:
ext = '.hdf'
match = re.match(r'^.*_(\d+)' + ext + '$', filename)
match

In [38]:
match.groups()

('9871',)

In [39]:
match.group(0)

'social_security_observer_9871.hdf'

In [40]:
match.group(1)

'9871'

In [41]:
match.group(2)

IndexError: no such group

In [42]:
ext = '.hdf'
match = re.match(fr'^.*_(\d+){ext}$', filename)
match.groups()

('9871',)

In [44]:
match.group(1)

'9871'

In [27]:
%%time
seeds = [93, 9840, 8221]
df_ssa = data_loading.load_shards_and_concatenate(
    f'{usa_hdf_dir}/social_security_observer',
    '.hdf',
    seeds,
    start=0,
    stop=100,
)
df_ssa

CPU times: user 8.56 s, sys: 408 ms, total: 8.97 s
Wall time: 9.08 s

,event_type,date_of_birth,ssn,simulant_id,event_date,last_name,first_name,middle_initial
0,creation,1919-12-04,214-56-6837,9840_219390,1919-12-04,Rogers,Marion,M
1,creation,1920-01-30,299-87-0024,9840_494513,1920-01-30,Vodden,Tommy,J
2,creation,1920-02-14,483-38-1957,9840_223673,1920-02-14,Schiffer,Marion,M
3,creation,1920-07-09,887-09-5982,9840_132695,1920-07-09,Gilbert,Michael,N
4,creation,1920-08-16,177-43-1462,9840_987002,1920-08-16,Hari,Ruth,H
...,...,...,...,...,...,...,...,...
295,creation,1921-10-13,885-07-2280,93_192637,1921-10-13,Pardue,Jean,E
296,creation,1921-10-13,017-89-2312,93_793070,1921-10-13,Chandler,John,M
297,creation,1921-10-15,699-09-0125,93_637237,1921-10-15,Jacques,Gertrude,P
298,creation,1921-10-17,063-79-2162,93_986128,1921-10-17,Gray,Thelma,D
299,creation,1921-10-18,154-21-8128,93_877944,1921-10-18,Hayden,Jennie,O

In [28]:
!ls -halt $rhode_island_par_dir

total 256K
drwxrwsr-x 2 rmudambi IHME-Simulationscience 167K Apr 10 11:30 tax_dependents_observer
drwxrwsr-x 9 rmudambi IHME-Simulationscience 3.5K Apr 10 11:10 .
drwxrwsr-x 2 rmudambi IHME-Simulationscience 167K Apr 10 11:10 tax_1040_observer
drwxrwsr-x 2 rmudambi IHME-Simulationscience 167K Apr  9 21:10 tax_w2_observer
drwxrwsr-x 2 rmudambi IHME-Simulationscience 167K Apr  9 19:17 wic_observer
drwxrwsr-x 2 rmudambi IHME-Simulationscience 167K Apr  9 19:13 household_survey_observer_cps
drwxrwsr-x 2 rmudambi IHME-Simulationscience 167K Apr  9 19:10 household_survey_observer_acs
drwxrwsr-x 2 rmudambi IHME-Simulationscience 167K Apr  9 19:09 decennial_census_observer
drwxrwsr-x 3 rmudambi IHME-Simulationscience  512 Apr  9 18:48 ..

In [30]:
%%time
seeds = [93, 9840, 8221]
df_wic = data_loading.load_shards_and_concatenate(
    f'{rhode_island_par_dir}/wic_observer',
    '.parquet',
    seeds,
    ignore_index=True,
)
df_wic

CPU times: user 1.12 s, sys: 38.6 ms, total: 1.16 s
Wall time: 1.16 s

,age,first_name,race_ethnicity,relation_to_household_head,simulant_id,unit_number,year,guardian_1,street_name,household_id,guardian_2,street_number,middle_initial,city,last_name,zipcode,sex,state,housing_type,date_of_birth
0,26,Katelynn,Latino,Reference person,93_25455,,2019,93_-1,rochester drive,93_10191,93_-1,2121,C,north providence,Salvador,02857,Female,RI,Standard,1992-03-19
1,29,Emily,White,Reference person,93_285143,,2019,93_-1,kingsdale ave,93_114625,93_-1,4505,M,pawtucket,Hitchcock,02865,Female,RI,Standard,1989-03-31
2,25,Brittany,White,Opp-sex spouse,93_442398,,2019,93_-1,e rosemont ln,93_177607,93_-1,14736,A,south kingstown,Doyle,02893,Female,RI,Standard,1993-09-24
3,33,Angela,White,Reference person,93_446556,,2019,93_-1,grove street,93_179324,93_-1,153,L,wst warwick,Moore,02818,Female,RI,Standard,1985-11-27
4,29,Noemi,White,Biological child,93_459409,,2019,93_-1,homer circle,93_184491,93_-1,1345-1353,C,warwick,Schumacher,02864,Female,RI,Standard,1989-03-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3171,0,Samuel,Asian,Grandchild,9840_1389306,,2041,9840_1314628,forest ave,9840_778954,9840_-1,12235,G,barrington,Chang,02915,Male,RI,Standard,2040-10-01
3172,0,Maddie,Latino,Other nonrelative,9840_1391442,,2041,9840_472521,beverly dr,9840_339441,9840_-1,11439,E,lincoln,Pace,02863,Female,RI,Standard,2040-11-08
3173,0,Hunter,White,Biological child,9840_1391863,,2041,9840_1089594,turtle shell dr,9840_236932,9840_-1,6207,Z,east providence,Steiner,02889,Male,RI,Standard,2040-11-29
3174,0,Ameera,Multiracial or Other,Other nonrelative,9840_1393912,flt 5,2041,9840_94970,roosevelt drive,9840_220288,9840_-1,3721,M,tiverton,Osborne,02806,Female,RI,Standard,2041-01-18
3175,0,Kannon,White,Other nonrelative,9840_1394182,,2041,9840_477195,e swift ave,9840_471639,9840_-1,205,J,westerly,Becknell,02878,Male,RI,Standard,2041-01-03

In [31]:
%%time
seeds = [93, 9840, 8221]
df_wic = data_loading.load_shards_and_concatenate(
    f'{rhode_island_par_dir}/wic_observer',
    '.parquet',
    seeds,
    ignore_index=False,
)
df_wic

CPU times: user 1.08 s, sys: 74.9 ms, total: 1.15 s
Wall time: 1.15 s

             age first_name        race_ethnicity relation_to_household_head  \
93   86       26   Katelynn                Latino           Reference person
     1084     29      Emily                 White           Reference person
     1678     25   Brittany                 White             Opp-sex spouse
     1701     33     Angela                 White           Reference person
     1754     29      Noemi                 White           Biological child
...          ...        ...                   ...                        ...
9840 340856    0     Samuel                 Asian                 Grandchild
     341308    0     Maddie                Latino          Other nonrelative
     341468    0     Hunter                 White           Biological child
     341900    0     Ameera  Multiracial or Other          Other nonrelative
     341991    0     Kannon                 White          Other nonrelative

              simulant_id unit_number  year    guardian_1      street_name  \
93   86          93_25455              2019         93_-1  rochester drive
     1084       93_285143              2019         93_-1    kingsdale ave
     1678       93_442398              2019         93_-1    e rosemont ln
     1701       93_446556              2019         93_-1     grove street
     1754       93_459409              2019         93_-1     homer circle
...                   ...         ...   ...           ...              ...
9840 340856  9840_1389306              2041  9840_1314628       forest ave
     341308  9840_1391442              2041   9840_472521       beverly dr
     341468  9840_1391863              2041  9840_1089594  turtle shell dr
     341900  9840_1393912       flt 5  2041    9840_94970  roosevelt drive
     341991  9840_1394182              2041   9840_477195      e swift ave

            household_id guardian_2 street_number middle_initial  \
93   86         93_10191      93_-1          2121              C
     1084      93_114625      93_-1          4505              M
     1678      93_177607      93_-1         14736              A
     1701      93_179324      93_-1           153              L
     1754      93_184491      93_-1     1345-1353              C
...                  ...        ...           ...            ...
9840 340856  9840_778954    9840_-1         12235              G
     341308  9840_339441    9840_-1         11439              E
     341468  9840_236932    9840_-1          6207              Z
     341900  9840_220288    9840_-1          3721              M
     341991  9840_471639    9840_-1           205              J

                         city   last_name zipcode     sex state housing_type  \
93   86      north providence    Salvador   02857  Female    RI     Standard
     1084           pawtucket   Hitchcock   02865  Female    RI     Standard
     1678     south kingstown       Doyle   02893  Female    RI     Standard
     1701         wst warwick       Moore   02818  Female    RI     Standard
     1754             warwick  Schumacher   02864  Female    RI     Standard
...                       ...         ...     ...     ...   ...          ...
9840 340856        barrington       Chang   02915    Male    RI     Standard
     341308           lincoln        Pace   02863  Female    RI     Standard
     341468   east providence     Steiner   02889    Male    RI     Standard
     341900          tiverton     Osborne   02806  Female    RI     Standard
     341991          westerly    Becknell   02878    Male    RI     Standard

            date_of_birth
93   86        1992-03-19
     1084      1989-03-31
     1678      1993-09-24
     1701      1985-11-27
     1754      1989-03-18
...                   ...
9840 340856    2040-10-01
     341308    2040-11-08
     341468    2040-11-29
     341900    2041-01-18
     341991    2041-01-03

[3176 rows x 20 columns]

In [32]:
%%time
seeds = [93, 9840, 8221]
df_wic_2020 = data_loading.load_shards_and_concatenate(
    f'{rhode_island_par_dir}/wic_observer',
    '.parquet',
    seeds,
    filter_query="year==2020",
)
df_wic_2020

CPU times: user 1.77 s, sys: 41 ms, total: 1.82 s
Wall time: 1.82 s

,age,first_name,race_ethnicity,relation_to_household_head,simulant_id,unit_number,year,guardian_1,street_name,household_id,guardian_2,street_number,middle_initial,city,last_name,zipcode,sex,state,housing_type,date_of_birth
0,32,Felicia,Latino,Reference person,93_290266,,2020,93_-1,north c street,93_116659,93_-1,19322,J,cranston,Valles,02903,Female,RI,Standard,1987-03-25
1,35,Natalie,White,Opp-sex partner,93_318116,,2020,93_-1,pleasant street,93_127859,93_-1,12,R,providence,Woody,02886,Female,RI,Standard,1984-10-11
2,25,Emily,White,Reference person,93_368789,,2020,93_-1,w sunset blvd,93_148138,93_-1,3333,P,coventry,Grebe,02903,Female,RI,Standard,1994-11-20
3,33,Nicole,White,Reference person,93_417764,,2020,93_-1,cherokee st,93_167780,93_-1,32558,S,portsmouth,Roberts,02861,Female,RI,Standard,1986-06-22
4,34,Jamie,White,Opp-sex spouse,93_457001,,2020,93_-1,sr 20 w,93_183516,93_-1,225,K,coventry,Campbell,02835,Female,RI,Standard,1985-12-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,0,Kalani,Latino,Biological child,9840_1011274,,2020,9840_182088,lemon ave,9840_73213,9840_-1,,A,warwick,Fuentes,02906,Female,RI,Standard,2019-08-28
132,0,Nathaniel,White,Biological child,9840_1013021,2nd fl aptmnt # 2017,2020,9840_627276,asbury park,9840_251997,9840_-1,1286,D,coventry,Smith,02920,Male,RI,Standard,2019-09-23
133,0,Noah,White,Biological child,9840_1013852,,2020,9840_126644,jason street,9840_50995,9840_-1,21,O,sth kingstown,Dickson,02905,Male,RI,Standard,2019-10-27
134,0,Ares,Latino,Grandchild,9840_1013968,,2020,9840_256240,prospect st,9840_102949,9840_-1,10543,N,smithfield,Davis,02908,Male,RI,Standard,2019-10-27
135,0,Hudson,White,Biological child,9840_1016501,ph 10062,2020,9840_116529,skillman avenue,9840_46897,9840_116530,4504,A,warwick,Hammons,02865,Male,RI,Standard,2019-12-22

In [33]:
%%time
seeds = [93, 9840, 8221]
df_wic_2020_filtered = data_loading.load_shards_and_concatenate(
    f'{rhode_island_par_dir}/wic_observer',
    '.parquet',
    seeds,
    filters=[('year', '=', 2020)],
)
df_wic_2020_filtered

CPU times: user 1.76 s, sys: 74.5 ms, total: 1.83 s
Wall time: 1.88 s

,age,first_name,race_ethnicity,relation_to_household_head,simulant_id,unit_number,year,guardian_1,street_name,household_id,guardian_2,street_number,middle_initial,city,last_name,zipcode,sex,state,housing_type,date_of_birth
0,32,Felicia,Latino,Reference person,93_290266,,2020,93_-1,north c street,93_116659,93_-1,19322,J,cranston,Valles,02903,Female,RI,Standard,1987-03-25
1,35,Natalie,White,Opp-sex partner,93_318116,,2020,93_-1,pleasant street,93_127859,93_-1,12,R,providence,Woody,02886,Female,RI,Standard,1984-10-11
2,25,Emily,White,Reference person,93_368789,,2020,93_-1,w sunset blvd,93_148138,93_-1,3333,P,coventry,Grebe,02903,Female,RI,Standard,1994-11-20
3,33,Nicole,White,Reference person,93_417764,,2020,93_-1,cherokee st,93_167780,93_-1,32558,S,portsmouth,Roberts,02861,Female,RI,Standard,1986-06-22
4,34,Jamie,White,Opp-sex spouse,93_457001,,2020,93_-1,sr 20 w,93_183516,93_-1,225,K,coventry,Campbell,02835,Female,RI,Standard,1985-12-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,0,Kalani,Latino,Biological child,9840_1011274,,2020,9840_182088,lemon ave,9840_73213,9840_-1,,A,warwick,Fuentes,02906,Female,RI,Standard,2019-08-28
132,0,Nathaniel,White,Biological child,9840_1013021,2nd fl aptmnt # 2017,2020,9840_627276,asbury park,9840_251997,9840_-1,1286,D,coventry,Smith,02920,Male,RI,Standard,2019-09-23
133,0,Noah,White,Biological child,9840_1013852,,2020,9840_126644,jason street,9840_50995,9840_-1,21,O,sth kingstown,Dickson,02905,Male,RI,Standard,2019-10-27
134,0,Ares,Latino,Grandchild,9840_1013968,,2020,9840_256240,prospect st,9840_102949,9840_-1,10543,N,smithfield,Davis,02908,Male,RI,Standard,2019-10-27
135,0,Hudson,White,Biological child,9840_1016501,ph 10062,2020,9840_116529,skillman avenue,9840_46897,9840_116530,4504,A,warwick,Hammons,02865,Male,RI,Standard,2019-12-22

In [34]:
df_wic_2020_filtered.equals(df_wic_2020)

True

# I can't find good documentation of the syntax for `where` queries when reading HDF with pandas

Here are the most helpful links I found so far:

- https://pandas.pydata.org/docs/reference/api/pandas.read_hdf.html
- https://pandas.pydata.org/docs/user_guide/io.html#io-hdf5
- https://stackoverflow.com/questions/30483754/pandas-get-specific-rows-from-hdf5-by-index
- https://stackoverflow.com/questions/28754265/pandas-read-hdf-with-where-condition-limitation
- https://pandas.pydata.org/docs/user_guide/cookbook.html#cookbook-hdf

When I try to filter by year by passing `where=["year=2020"]`, I get this:

```
ValueError: The passed where expression: [year=2020]
            contains an invalid variable reference
            all of the variable references must be a reference to
            an axis (e.g. 'index' or 'columns'), or a data_column
            The currently defined references are: index,columns
```
I can filter by index value or column name, but to filter by values in a column, it appears that the allowable columns to filter by have to somehow be pre-saved in the HDF.

In [59]:
%%time
seeds = [93, 9840, 8221]
df_wic_2020_hdf = data_loading.load_shards_and_concatenate(
    f'{rhode_island_hdf_dir}/wic_observer',
    '.hdf',
    seeds,
#     where=["year=2020"], # Fails with ValueError: The passed where expression: [year=2020]
#                          #                        contains an invalid variable reference
    where=["index<5000"],
    ignore_index=False,
)
df_wic_2020_hdf

CPU times: user 2.57 s, sys: 51 ms, total: 2.62 s
Wall time: 3.04 s

                       city middle_initial   guardian_2     sex  year  \
93   86    north providence              C        93_-1  Female  2019
     1084         pawtucket              M        93_-1  Female  2019
     1678   south kingstown              A        93_-1  Female  2019
     1701       wst warwick              L        93_-1  Female  2019
     1754           warwick              C        93_-1  Female  2019
     1939   east providence              A        93_-1  Female  2019
     2007          johnston              C        93_-1  Female  2019
     2523         hopkinton              A        93_-1  Female  2019
     2775        providence              N        93_-1  Female  2019
     3072        providence              S        93_-1  Female  2019
     3151          coventry              A        93_-1  Female  2019
     3235        portsmouth              M        93_-1  Female  2019
     4168        providence              E        93_-1    Male  2019
     4382        providence              A    93_318116    Male  2019
     4850           warwick              L        93_-1  Female  2019
9840 90             newport              L      9840_-1  Female  2019
     1706   south kingstown              F      9840_-1  Female  2019
     2037          cranston              J      9840_-1  Female  2019
     2436            exeter              A      9840_-1  Female  2019
     3805        portsmouth              G   9840_51243    Male  2019
     4210          cranston              S  9840_197732  Female  2019
     4221          coventry              L  9840_201328  Female  2019
     4375           lincoln              C  9840_263127  Female  2019
     4799           warwick              Z  9840_424859    Male  2019
     4815        providence              S      9840_-1  Female  2019
     4816        providence              K      9840_-1  Female  2019
     4856        providence              H  9840_444797  Female  2019
8221 554           cranston              T      8221_-1  Female  2019
     1077  north providence              A      8221_-1  Female  2019
     1524          johnston              V      8221_-1  Female  2019
     2052          richmond              S      8221_-1  Female  2019
     2287        providence              B      8221_-1  Female  2019
     2550         jamestown              J      8221_-1  Female  2019
     2560      narragansett              S      8221_-1  Female  2019
     2561      narragansett              C      8221_-1  Female  2019
     2837        providence              G      8221_-1  Female  2019
     3076           lincoln              E      8221_-1  Female  2019
     3219        cumberland              C      8221_-1  Female  2019
     3771      west warwick              N   8221_79699  Female  2019
     4390         hopkinton              K      8221_-1    Male  2019
     4765           bristol              J      8221_-1  Female  2019
     4829   east providence              T  8221_487511    Male  2019

                       street_name        last_name zipcode  simulant_id  \
93   86            rochester drive         Salvador   02857     93_25455
     1084            kingsdale ave        Hitchcock   02865    93_285143
     1678            e rosemont ln            Doyle   02893    93_442398
     1701             grove street            Moore   02818    93_446556
     1754             homer circle       Schumacher   02864    93_459409
     1939             sweet bay dr            Marks   02910    93_514171
     2007          s northern blvd          Nichols   02816    93_534358
     2523          clstr ridge trl       Valladares   02895    93_674341
     2775              biddle lane            Lopez   02908    93_750831
     3072              w marcus rd           Berkey   02910    93_834264
     3151          revere house ln           Hamdan   02903    93_854943
     3235             adams street           Rhodes   02896    93_877913
     4168           doscientos way              Lim   02909    93_246063
     4382          pleasant street            Woody   02886    93_318115
     4850         hopewell hllw rd           Bagley   02864    93_493871
9840 90            dutch connel rd    Angel-Andrade   02871   9840_23297
     1706             n weller ave            Fried   02816  9840_455709
     2037          railroad street           Vroman   02874  9840_538456
     2436             brookline dr             Bond   02882  9840_650224
     3805  southeast spruce avenue            Bodie   02861   9840_51244
     4210             new tampa hy               Co   02907  9840_197735
     4221         patterson avenue         Applebee   02893  9840_201327
     4375                n 67th dr           Hughes   02857  9840_263129
     4799            springwood ct           Valdez   02920  9840_424860
     4815           grand teton dr             Mesa   02893  9840_432321
     4816           grand teton dr           Andino   02893  9840_432322
     4856          122nd avenue ne         Martinez   02816  9840_444798
8221 554             n mock street         Figueroa   02879  8221_159283
     1077      cross bay boulevard            Glick   02816  8221_299286
     1524             eastwick cir           Enberg   02860  8221_413560
     2052             n palermo rd           Davila   02906  8221_561930
     2287                   4th st           Begley   02838  8221_625897
     2550              cncrd drive            Mazon   02904  8221_693743
     2560              cardamom dr             Nava   02860  8221_697154
     2561              cardamom dr             Nava   02860  8221_697157
     2837             amberwood dr           Vereen   02903  8221_764631
     3076              52nd ave ne           Butler   02813  8221_835383
     3219              sw 10th ave           Murphy   02915  8221_870250
     3771              wilshire rd  Montoya-Goodwin   02906   8221_79701
     4390                e 29th st            Rojas   02859  8221_316633
     4765          shamrock avenue           Miller   02906  8221_468831
     4829                benson rd            Galle   02878  8221_487513

          date_of_birth  age   guardian_1     unit_number race_ethnicity  \
93   86      1992-03-19   26        93_-1                         Latino
     1084    1989-03-31   29        93_-1                          White
     1678    1993-09-24   25        93_-1                          White
     1701    1985-11-27   33        93_-1                          White
     1754    1989-03-18   29        93_-1                          White
     1939    1976-03-19   42        93_-1                          White
     2007    1990-03-22   28        93_-1                          White
     2523    1990-03-21   28        93_-1                         Latino
     2775    1992-12-10   26        93_-1                         Latino
     3072    1978-12-27   40        93_-1                          White
     3151    1983-07-25   35        93_-1                         Latino
     3235    1986-11-19   32        93_-1                          White
     4168    2017-03-11    1    93_246061                         Latino
     4382    2017-07-23    1    93_318113                          White
     4850    2017-04-17    1    93_493868                          Black
9840 90      1983-11-24   35      9840_-1                         Latino
     1706    1985-12-19   33      9840_-1     apartment 1          White
     2037    1984-06-01   34      9840_-1                          White
     2436    1984-12-18   34      9840_-1                          White
     3805    2017-01-26    1   9840_51242                         Latino
     4210    2017-11-03    1  9840_197731                         Latino
     4221    2017-08-18    1  9840_201326                         Latino
     4375    2017-02-08    1  9840_263126   apartment 201          White
     4799    2018-01-01    1  9840_424858                          White
     4815    2017-02-17    1      9840_-1                         Latino
     4816    2017-07-23    1      9840_-1                         Latino
     4856    2017-01-03    1  9840_444796                         Latino
8221 554     1978-12-29   40      8221_-1                          White
     1077    1990-08-19   28      8221_-1                          White
     1524    1988-06-15   30      8221_-1                          White
     2052    1993-12-07   25      8221_-1                         Latino
     2287    1988-04-22   30      8221_-1   g f apt # 144          White
     2550    1985-07-14   33      8221_-1                         Latino
     2560    1995-09-15   23      8221_-1                         Latino
     2561    1992-11-22   26      8221_-1                         Latino
     2837    1975-07-16   43      8221_-1                          Black
     3076    1997-02-17   21      8221_-1                          White
     3219    1994-12-24   24      8221_-1                          White
     3771    2017-05-06    1   8221_79698                         Latino
     4390    2017-04-17    1  8221_316627         aprt 2a         Latino
     4765    2017-10-12    1  8221_468828                         Latino
     4829    2017-07-01    1  8221_487510  apartment 1027         Latino

          first_name housing_type street_number relation_to_household_head  \
93   86     Katelynn     Standard          2121           Reference person
     1084      Emily     Standard          4505           Reference person
     1678   Brittany     Standard         14736             Opp-sex spouse
     1701     Angela     Standard           153           Reference person
     1754      Noemi     Standard     1345-1353           Biological child
     1939    Rebecca     Standard         17335             Opp-sex spouse
     2007    Jasmine     Standard          3075           Reference person
     2523    Chelsea     Standard           409           Reference person
     2775       Kari     Standard           112           Reference person
     3072    Shaneka     Standard         19140             Opp-sex spouse
     3151     Kelsey     Standard          2395           Reference person
     3235   Samantha     Standard            21           Reference person
     4168     Hunter     Standard          2944           Biological child
     4382       Ivan     Standard            12           Biological child
     4850     Olivia     Standard          1425           Biological child
9840 90      Claudia     Standard           560           Reference person
     1706      Megan     Standard             8           Reference person
     2037    Heather     Standard          1216           Reference person
     2436  Stephanie     Standard           267           Reference person
     3805      Bryce     Standard          8150           Biological child
     4210    Paisley     Standard          1407           Biological child
     4221   Serenity     Standard            22           Biological child
     4375    Valerie     Standard          5482           Biological child
     4799       Noah     Standard          4321           Biological child
     4815      Kayla     Standard          8817          Other nonrelative
     4816   Isabella     Standard          8817          Other nonrelative
     4856     Olivia     Standard           204           Biological child
8221 554    Kimberly     Standard          4063             Opp-sex spouse
     1077  Jacquelyn     Standard           737           Reference person
     1524     Summer     Standard          1414            Opp-sex partner
     2052    Heather     Standard          5505           Reference person
     2287  Priscilla     Standard           299           Reference person
     2550  Elizabeth     Standard          8509             Opp-sex spouse
     2560    Monique     Standard          2541           Reference person
     2561     Ashley     Standard          2541                    Sibling
     2837    Crystal     Standard           616           Reference person
     3076    Julissa     Standard          1865           Reference person
     3219     Yvonne     Standard           120           Reference person
     3771    Alaiyah     Standard           428           Biological child
     4390      Jacob     Standard          5731           Biological child
     4765    Lillian     Standard            21           Biological child
     4829     Carson     Standard          1116           Biological child

          state household_id
93   86      RI     93_10191
     1084    RI    93_114625
     1678    RI    93_177607
     1701    RI    93_179324
     1754    RI    93_184491
     1939    RI    93_206638
     2007    RI    93_214784
     2523    RI    93_270974
     2775    RI    93_301757
     3072    RI    93_335463
     3151    RI    93_343842
     3235    RI    93_353106
     4168    RI     93_98875
     4382    RI    93_127859
     4850    RI    93_198466
9840 90      RI    9840_9395
     1706    RI  9840_183053
     2037    RI  9840_216352
     2436    RI  9840_261266
     3805    RI   9840_20673
     4210    RI   9840_79490
     4221    RI   9840_80946
     4375    RI  9840_105750
     4799    RI  9840_170763
     4815    RI  9840_173735
     4816    RI  9840_173735
     4856    RI  9840_178698
8221 554     RI   8221_64145
     1077    RI  8221_120322
     1524    RI  8221_166308
     2052    RI  8221_225805
     2287    RI  8221_251602
     2550    RI  8221_278815
     2560    RI  8221_280187
     2561    RI  8221_280187
     2837    RI  8221_307282
     3076    RI  8221_335546
     3219    RI  8221_349574
     3771    RI   8221_32112
     4390    RI  8221_127304
     4765    RI  8221_188561
     4829    RI  8221_196015

In [62]:
%%time
seeds = [93, 9840, 8221]
data_loading.load_shards_and_concatenate(
    f'{rhode_island_hdf_dir}/wic_observer',
    '.hdf',
    seeds,
    where=["columns = ['city', 'middle_initial', 'date_of_birth']"],
    ignore_index=False,
)

CPU times: user 2.26 s, sys: 9.02 ms, total: 2.27 s
Wall time: 2.65 s

                         city middle_initial date_of_birth
93   86      north providence              C    1992-03-19
     1084           pawtucket              M    1989-03-31
     1678     south kingstown              A    1993-09-24
     1701         wst warwick              L    1985-11-27
     1754             warwick              C    1989-03-18
...                       ...            ...           ...
8221 342014        smithfield              K    2040-12-25
     342084        providence              C    2041-01-19
     342250         pawtucket              N    2041-01-05
     342329           warwick              W    2041-01-12
     342369        providence              A    2041-01-19

[3176 rows x 3 columns]

# Test stuff with categoricals

In [63]:
s = pd.Series([1, 2, 3, '2', '1', 'a'])
s

0    1
1    2
2    3
3    2
4    1
5    a
dtype: object

In [65]:
s_cat = s.astype('category')
s_cat

0    1
1    2
2    3
3    2
4    1
5    a
dtype: category
Categories (6, object): [1, 2, 3, '1', '2', 'a']

In [67]:
s_cat.cat.categories.astype(str)

Index(['1', '2', '3', '1', '2', 'a'], dtype='object')

In [71]:
str_cats = s_cat.cat.categories.astype(str)
s_cat.cat.rename_categories(str_cats)

ValueError: Categorical categories must be unique

In [69]:
s_cat.cat.categories.astype(str).unique()

Index(['1', '2', '3', 'a'], dtype='object')

In [72]:
str_cats = s_cat.cat.categories.astype(str).unique()
s_cat.cat.rename_categories(str_cats)

ValueError: new categories need to have the same number of items as the old categories!

In [73]:
str_cats = s_cat.cat.categories.astype(str).unique()
s_cat.cat.set_categories(str_cats)

0    NaN
1    NaN
2    NaN
3      2
4      1
5      a
dtype: category
Categories (4, object): ['1', '2', '3', 'a']

In [74]:
s_cat.cat.categories

Index([1, 2, 3, '1', '2', 'a'], dtype='object')

In [76]:
m = dict(zip(s_cat.cat.categories, s_cat.cat.categories.astype(str)))
m

{1: '1', 2: '2', 3: '3', '1': '1', '2': '2', 'a': 'a'}

In [92]:
# https://stackoverflow.com/questions/32262982/pandas-combining-multiple-categories-into-one
# df.cat.map(m2).astype("category", categories=set(m2.values()))
s_cat.map(m).astype("category")

0    1
1    2
2    3
3    2
4    1
5    a
dtype: category
Categories (4, object): ['1', '2', '3', 'a']

In [93]:
s_cat.astype(str).astype('category')

0    1
1    2
2    3
3    2
4    1
5    a
dtype: category
Categories (4, object): ['1', '2', '3', 'a']

In [94]:
%timeit s_cat.map(m).astype("category")
%timeit s_cat.astype(str).astype('category')

738 µs ± 1.19 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)
351 µs ± 3.93 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [105]:
df = pd.DataFrame(s_cat)
datatypes.convert_category_dtype(df, str)
df[0]

('Categorical categories must be unique',)

0    1
1    2
2    3
3    2
4    1
5    a
Name: 0, dtype: category
Categories (4, object): ['1', '2', '3', 'a']

In [108]:
df = pd.DataFrame([1, np.nan, 4, 6, np.nan, 1, 6])
df[0]

0    1.0
1    NaN
2    4.0
3    6.0
4    NaN
5    1.0
6    6.0
Name: 0, dtype: float64

In [114]:
df2 = df.astype('category')
df2[0]

/ihme/homes/ndbs/miniconda3/envs/prlpy38/lib/python3.8/site-packages/IPython/lib/pretty.py:778: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  output = repr(obj)

0    1.0
1    NaN
2    4.0
3    6.0
4    NaN
5    1.0
6    6.0
Name: 0, dtype: category
Categories (3, float64): [1.0, 4.0, 6.0]

In [115]:
datatypes.convert_category_dtype(df2, str)
df2[0]

0    1.0
1    NaN
2    4.0
3    6.0
4    NaN
5    1.0
6    6.0
Name: 0, dtype: category
Categories (3, object): ['1.0', '4.0', '6.0']

In [116]:
# This doesn't handle NaN's the way I would want...
df3 = df.astype(str)
df3[0]

0    1.0
1    nan
2    4.0
3    6.0
4    nan
5    1.0
6    6.0
Name: 0, dtype: object

In [119]:
df2[0].astype(str)

0    1.0
1    nan
2    4.0
3    6.0
4    nan
5    1.0
6    6.0
Name: 0, dtype: object

In [121]:
df = pd.DataFrame([1, np.nan, 6, 4, '6', np.nan, 1, 6, '4'])
df[0]

0      1
1    NaN
2      6
3      4
4      6
5    NaN
6      1
7      6
8      4
Name: 0, dtype: object

In [123]:
df_cat = df.astype('category')
df_cat[0]

0      1
1    NaN
2      6
3      4
4      6
5    NaN
6      1
7      6
8      4
Name: 0, dtype: category
Categories (5, object): [1, 4, 6, '4', '6']

In [125]:
datatypes.convert_category_dtype(df_cat, str)
df_cat[0]

0      1
1    nan
2      6
3      4
4      6
5    nan
6      1
7      6
8      4
Name: 0, dtype: category
Categories (4, object): ['1', '4', '6', 'nan']

In [ ]:
# Try fixing NaNs and run again

In [127]:
df_cat = df.astype('category')
datatypes.convert_category_dtype(df_cat, str)
df_cat[0]

0      1
1    NaN
2      6
3      4
4      6
5    NaN
6      1
7      6
8      4
Name: 0, dtype: category
Categories (3, object): ['1', '4', '6']

In [131]:
s_cat

0    1
1    2
2    3
3    2
4    1
5    a
dtype: category
Categories (6, object): [1, 2, 3, '1', '2', 'a']

In [133]:
cat_map = dict(zip(s_cat.cat.categories, s_cat.cat.categories.astype(str)))
cat_map

{1: '1', 2: '2', 3: '3', '1': '1', '2': '2', 'a': 'a'}

In [135]:
old_categories = s_cat.cat.categories
new_categories = old_categories.map(cat_map)
new_categories

Index(['1', '2', '3', '1', '2', 'a'], dtype='object')

In [136]:
old_categories.union(new_categories)

Index([1, 2, 3, '1', '1', '2', '2', '3', 'a'], dtype='object')

In [137]:
old_categories.union(new_categories.unique())

Index([1, 2, 3, '1', '2', '3', 'a'], dtype='object')

In [139]:
with pd.option_context("mode.copy_on_write", True):
    s_new = datatypes.merge_categories(s_cat, cat_map)
s_new

0    1
1    2
2    3
3    2
4    1
5    a
dtype: object

In [140]:
s_cat

0    1
1    2
2    3
3    2
4    1
5    a
dtype: category
Categories (6, object): [1, 2, 3, '1', '2', 'a']