In [1]:
import numpy as np, matplotlib.pyplot as plt, pandas as pd
pd.set_option('display.max_rows', 50)

import os
# Use this to see how much memory the dataframes use
from sys import getsizeof

import yaml

import pseudopeople as pp
from pseudopeople.utilities import get_configuration
from vivarium.framework.randomness import RandomnessStream

from vivarium_research_prl.utils import sizemb, MappingViaAttributes
from vivarium_research_prl import datatypes
from vivarium_research_prl.noise import corruption, fake_names, noisify
from vivarium_research_prl.find_kids import datasets, noisify_data

!date
!whoami
!uname -a
!pwd

Fri 31 Mar 2023 02:53:17 PM PDT
ndbs
Linux gen-slurm-sarchive-p0135 5.4.0-135-generic #152-Ubuntu SMP Wed Nov 23 20:19:22 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
/mnt/share/code/ndbs/vivarium_research_prl/pseudopeople_testing

In [2]:
%load_ext autoreload
%autoreload 2

# Find data

```
/mnt/team/simulation_science/priv/engineering/vivarium_census_prl_synth_pop/results/full_scale_334mil/united_states_of_america/2023_03_30_10_23_13/final_results/2023_03_30_16_02_39
```

In [3]:
project_output_dir = \
    '/mnt/team/simulation_science/priv/engineering/vivarium_census_prl_synth_pop'
output_subdir = (
    'results/full_scale_334mil'
    '/united_states_of_america/2023_03_30_10_23_13'
    '/final_results/2023_03_30_16_02_39'
)
output_dir = f'{project_output_dir}/{output_subdir}'

!ls -halt $output_dir

total 404K
drwxrwsr-x  3 sbachmei IHME-Simulationscience 1.5K Mar 30 17:15 ..
drwxrwsr-x  2 sbachmei IHME-Simulationscience 167K Mar 30 16:52 tax_dependents_observer
drwxrwsr-x  2 sbachmei IHME-Simulationscience 167K Mar 30 16:44 tax_1040_observer
drwxrwsr-x  2 sbachmei IHME-Simulationscience 339K Mar 30 16:42 logs
drwxrwsr-x  2 sbachmei IHME-Simulationscience 167K Mar 30 16:31 tax_w2_observer
drwxrwsr-x  2 sbachmei IHME-Simulationscience 167K Mar 30 16:28 social_security_observer
drwxrwsr-x  2 sbachmei IHME-Simulationscience 167K Mar 30 16:28 wic_observer
drwxrwsr-x  2 sbachmei IHME-Simulationscience 167K Mar 30 16:28 household_survey_observer_cps
drwxrwsr-x  2 sbachmei IHME-Simulationscience 167K Mar 30 16:28 household_survey_observer_acs
drwxrwsr-x  2 sbachmei IHME-Simulationscience 167K Mar 30 16:26 decennial_census_observer
drwxrwsr-x 11 sbachmei IHME-Simulationscience 4.5K Mar 30 16:21 .

In [4]:
!ls -halt $output_dir/tax_w2_observer

total 199G
-rw-r--r--  1 sbachmei IHME-Simulationscience 614M Mar 30 17:07 tax_w2_observer_3568.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 603M Mar 30 17:04 tax_w2_observer_7551.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 613M Mar 30 17:04 tax_w2_observer_7086.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 613M Mar 30 17:00 tax_w2_observer_5440.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 598M Mar 30 16:58 tax_w2_observer_9292.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 606M Mar 30 16:42 tax_w2_observer_1282.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 611M Mar 30 16:39 tax_w2_observer_1007.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:34 tax_w2_observer_2277.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 606M Mar 30 16:34 tax_w2_observer_1483.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 597M Mar 30 16:33 tax_w2_observer_1482.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 606M Mar 30 16:33 tax_w2_observer_1452.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:33 tax_w2_observer_131.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 601M Mar 30 16:33 tax_w2_observer_1299.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 613M Mar 30 16:33 tax_w2_observer_2229.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 609M Mar 30 16:33 tax_w2_observer_1362.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 607M Mar 30 16:33 tax_w2_observer_1356.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 608M Mar 30 16:33 tax_w2_observer_3254.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 603M Mar 30 16:33 tax_w2_observer_1182.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 605M Mar 30 16:33 tax_w2_observer_5046.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 615M Mar 30 16:33 tax_w2_observer_3528.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 600M Mar 30 16:33 tax_w2_observer_4922.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 609M Mar 30 16:33 tax_w2_observer_5020.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 611M Mar 30 16:32 tax_w2_observer_3595.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 608M Mar 30 16:32 tax_w2_observer_3984.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 614M Mar 30 16:32 tax_w2_observer_3978.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 618M Mar 30 16:32 tax_w2_observer_5004.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 608M Mar 30 16:32 tax_w2_observer_494.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 616M Mar 30 16:32 tax_w2_observer_4123.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 609M Mar 30 16:32 tax_w2_observer_3994.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:32 tax_w2_observer_40.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 609M Mar 30 16:32 tax_w2_observer_5399.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 603M Mar 30 16:32 tax_w2_observer_3607.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 611M Mar 30 16:32 tax_w2_observer_3465.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 613M Mar 30 16:32 tax_w2_observer_3591.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 607M Mar 30 16:32 tax_w2_observer_3541.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 611M Mar 30 16:32 tax_w2_observer_3142.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 613M Mar 30 16:32 tax_w2_observer_3481.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:32 tax_w2_observer_3545.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 609M Mar 30 16:32 tax_w2_observer_3586.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 615M Mar 30 16:32 tax_w2_observer_3240.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 606M Mar 30 16:32 tax_w2_observer_6123.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 609M Mar 30 16:32 tax_w2_observer_6144.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 608M Mar 30 16:32 tax_w2_observer_5616.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 613M Mar 30 16:32 tax_w2_observer_6519.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 608M Mar 30 16:32 tax_w2_observer_4938.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 615M Mar 30 16:32 tax_w2_observer_6455.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:32 tax_w2_observer_6520.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 613M Mar 30 16:32 tax_w2_observer_323.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 611M Mar 30 16:32 tax_w2_observer_3598.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 615M Mar 30 16:32 tax_w2_observer_5501.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 607M Mar 30 16:32 tax_w2_observer_6442.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 598M Mar 30 16:32 tax_w2_observer_6203.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 615M Mar 30 16:32 tax_w2_observer_5548.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 618M Mar 30 16:32 tax_w2_observer_5439.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:32 tax_w2_observer_3093.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 607M Mar 30 16:32 tax_w2_observer_5393.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:32 tax_w2_observer_6207.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 608M Mar 30 16:32 tax_w2_observer_432.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 605M Mar 30 16:32 tax_w2_observer_4950.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 609M Mar 30 16:32 tax_w2_observer_5863.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 621M Mar 30 16:32 tax_w2_observer_4621.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 616M Mar 30 16:32 tax_w2_observer_4561.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 607M Mar 30 16:32 tax_w2_observer_3298.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:32 tax_w2_observer_6191.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 602M Mar 30 16:32 tax_w2_observer_4941.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 608M Mar 30 16:32 tax_w2_observer_4943.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 608M Mar 30 16:32 tax_w2_observer_4344.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 611M Mar 30 16:32 tax_w2_observer_5901.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 601M Mar 30 16:32 tax_w2_observer_5831.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:32 tax_w2_observer_8305.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 607M Mar 30 16:32 tax_w2_observer_5619.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 612M Mar 30 16:32 tax_w2_observer_5698.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 613M Mar 30 16:32 tax_w2_observer_446.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 611M Mar 30 16:32 tax_w2_observer_5860.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 607M Mar 30 16:32 tax_w2_observer_8291.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 611M Mar 30 16:32 tax_w2_observer_440.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 614M Mar 30 16:32 tax_w2_observer_821.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 607M Mar 30 16:32 tax_w2_observer_9434.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 613M Mar 30 16:32 tax_w2_observer_8192.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 598M Mar 30 16:32 tax_w2_observer_352.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 605M Mar 30 16:32 tax_w2_observer_9367.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 599M Mar 30 16:32 tax_w2_observer_5398.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:32 tax_w2_observer_7985.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 601M Mar 30 16:32 tax_w2_observer_3225.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 607M Mar 30 16:32 tax_w2_observer_5703.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 616M Mar 30 16:32 tax_w2_observer_3585.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 605M Mar 30 16:32 tax_w2_observer_5781.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:32 tax_w2_observer_5812.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 613M Mar 30 16:32 tax_w2_observer_3167.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 609M Mar 30 16:32 tax_w2_observer_5594.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 611M Mar 30 16:32 tax_w2_observer_9549.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 603M Mar 30 16:32 tax_w2_observer_9653.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 612M Mar 30 16:32 tax_w2_observer_5685.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 608M Mar 30 16:32 tax_w2_observer_7927.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 611M Mar 30 16:32 tax_w2_observer_7137.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 605M Mar 30 16:32 tax_w2_observer_6007.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 606M Mar 30 16:32 tax_w2_observer_6487.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 607M Mar 30 16:32 tax_w2_observer_4528.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 605M Mar 30 16:32 tax_w2_observer_6118.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 614M Mar 30 16:32 tax_w2_observer_496.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 603M Mar 30 16:32 tax_w2_observer_6982.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 611M Mar 30 16:32 tax_w2_observer_9495.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 616M Mar 30 16:32 tax_w2_observer_8129.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 609M Mar 30 16:31 tax_w2_observer_6929.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 604M Mar 30 16:31 tax_w2_observer_9577.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 609M Mar 30 16:31 tax_w2_observer_6079.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 615M Mar 30 16:31 tax_w2_observer_5875.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 612M Mar 30 16:31 tax_w2_observer_5950.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 601M Mar 30 16:31 tax_w2_observer_9024.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 613M Mar 30 16:31 tax_w2_observer_8221.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 603M Mar 30 16:31 tax_w2_observer_5892.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 604M Mar 30 16:31 tax_w2_observer_8612.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 601M Mar 30 16:31 tax_w2_observer_8509.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 607M Mar 30 16:31 tax_w2_observer_860.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 608M Mar 30 16:31 tax_w2_observer_6991.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 598M Mar 30 16:31 tax_w2_observer_5969.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:31 tax_w2_observer_9672.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 607M Mar 30 16:31 tax_w2_observer_7016.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 603M Mar 30 16:31 tax_w2_observer_4369.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 603M Mar 30 16:31 tax_w2_observer_7054.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 602M Mar 30 16:31 tax_w2_observer_9247.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 611M Mar 30 16:31 tax_w2_observer_4496.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 609M Mar 30 16:31 tax_w2_observer_8628.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 608M Mar 30 16:31 tax_w2_observer_6090.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:31 tax_w2_observer_9402.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 605M Mar 30 16:31 tax_w2_observer_9588.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 607M Mar 30 16:31 tax_w2_observer_7850.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 593M Mar 30 16:31 tax_w2_observer_3202.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 608M Mar 30 16:31 tax_w2_observer_6975.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 607M Mar 30 16:31 tax_w2_observer_8360.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 608M Mar 30 16:31 tax_w2_observer_5475.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 615M Mar 30 16:31 tax_w2_observer_5949.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 599M Mar 30 16:31 tax_w2_observer_5670.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 615M Mar 30 16:31 tax_w2_observer_8134.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 612M Mar 30 16:31 tax_w2_observer_9159.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 606M Mar 30 16:31 tax_w2_observer_9643.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 612M Mar 30 16:31 tax_w2_observer_315.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 614M Mar 30 16:31 tax_w2_observer_7125.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 612M Mar 30 16:31 tax_w2_observer_9187.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:31 tax_w2_observer_7938.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 608M Mar 30 16:31 tax_w2_observer_558.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:31 tax_w2_observer_8156.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 603M Mar 30 16:31 tax_w2_observer_5797.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 611M Mar 30 16:31 tax_w2_observer_4400.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:31 tax_w2_observer_2500.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 614M Mar 30 16:31 tax_w2_observer_9526.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 605M Mar 30 16:31 tax_w2_observer_3305.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 612M Mar 30 16:31 tax_w2_observer_4507.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 616M Mar 30 16:31 tax_w2_observer_7589.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 614M Mar 30 16:31 tax_w2_observer_9244.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 620M Mar 30 16:31 tax_w2_observer_28.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 605M Mar 30 16:31 tax_w2_observer_3374.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 603M Mar 30 16:31 tax_w2_observer_9696.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:31 tax_w2_observer_2476.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 602M Mar 30 16:31 tax_w2_observer_8133.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:31 tax_w2_observer_3938.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 611M Mar 30 16:31 tax_w2_observer_93.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 611M Mar 30 16:31 tax_w2_observer_7594.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 607M Mar 30 16:31 tax_w2_observer_5628.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 609M Mar 30 16:31 tax_w2_observer_6324.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 606M Mar 30 16:31 tax_w2_observer_3776.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 608M Mar 30 16:31 tax_w2_observer_781.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:31 tax_w2_observer_9859.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 614M Mar 30 16:31 tax_w2_observer_2700.csv.bz2
drwxrwsr-x  2 sbachmei IHME-Simulationscience 167K Mar 30 16:31 .
-rw-r--r--  1 sbachmei IHME-Simulationscience 595M Mar 30 16:31 tax_w2_observer_3789.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:31 tax_w2_observer_7817.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 604M Mar 30 16:31 tax_w2_observer_8425.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 603M Mar 30 16:31 tax_w2_observer_9847.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 614M Mar 30 16:31 tax_w2_observer_8997.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 609M Mar 30 16:31 tax_w2_observer_3326.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 605M Mar 30 16:31 tax_w2_observer_2477.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 606M Mar 30 16:31 tax_w2_observer_8869.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 607M Mar 30 16:31 tax_w2_observer_3304.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 606M Mar 30 16:31 tax_w2_observer_9066.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 600M Mar 30 16:31 tax_w2_observer_9272.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 612M Mar 30 16:31 tax_w2_observer_9723.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 609M Mar 30 16:31 tax_w2_observer_3731.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 602M Mar 30 16:31 tax_w2_observer_8516.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 609M Mar 30 16:31 tax_w2_observer_3357.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 606M Mar 30 16:31 tax_w2_observer_778.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 614M Mar 30 16:31 tax_w2_observer_974.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 608M Mar 30 16:31 tax_w2_observer_3377.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:31 tax_w2_observer_7870.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 608M Mar 30 16:31 tax_w2_observer_9776.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 602M Mar 30 16:31 tax_w2_observer_3825.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 609M Mar 30 16:31 tax_w2_observer_3380.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 598M Mar 30 16:31 tax_w2_observer_2599.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 609M Mar 30 16:31 tax_w2_observer_338.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 610M Mar 30 16:31 tax_w2_observer_9804.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 605M Mar 30 16:31 tax_w2_observer_8838.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 609M Mar 30 16:31 tax_w2_observer_8641.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 603M Mar 30 16:31 tax_w2_observer_9768.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 604M Mar 30 16:31 tax_w2_observer_386.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 590M Mar 30 16:31 tax_w2_observer_8817.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 613M Mar 30 16:31 tax_w2_observer_9225.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 615M Mar 30 16:30 tax_w2_observer_9284.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 611M Mar 30 16:30 tax_w2_observer_8877.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 605M Mar 30 16:30 tax_w2_observer_8501.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 614M Mar 30 16:30 tax_w2_observer_8734.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 614M Mar 30 16:30 tax_w2_observer_734.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 607M Mar 30 16:30 tax_w2_observer_9840.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 611M Mar 30 16:30 tax_w2_observer_3390.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 603M Mar 30 16:30 tax_w2_observer_7653.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 599M Mar 30 16:30 tax_w2_observer_278.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 599M Mar 30 16:30 tax_w2_observer_7344.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 613M Mar 30 16:30 tax_w2_observer_7384.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 608M Mar 30 16:30 tax_w2_observer_8980.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 612M Mar 30 16:30 tax_w2_observer_2689.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 612M Mar 30 16:30 tax_w2_observer_7745.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 608M Mar 30 16:30 tax_w2_observer_7342.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 603M Mar 30 16:30 tax_w2_observer_3454.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 607M Mar 30 16:30 tax_w2_observer_7107.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 618M Mar 30 16:30 tax_w2_observer_9740.csv.bz2
-rw-r--r--  1 sbachmei IHME-Simulationscience 603M Mar 30 16:30 tax_w2_observer_3793.csv.bz2

In [9]:
!ls $project_output_dir/results/full_scale_334mil/united_states_of_america/2023_03_30_10_23_13

branches.yaml  logs			 __pycache__	   settings.py
final_results  model_specification.yaml  raw_results
keyspace.yaml  output.hdf		 requirements.txt

# Pick some seeds to load, and define directories for W2 and census data

In [13]:
seeds = [3568, 7551, 7086]
w2_dir = f'{output_dir}/tax_w2_observer'
census_dir = f'{output_dir}/decennial_census_observer'

# Load one W2 file and see how big it is

In [14]:
%%time
w2 = {}
seed = seeds[0]
w2[seed] = pd.read_csv(f'{w2_dir}/tax_w2_observer_{seed}.csv.bz2')
w2[seed]

CPU times: user 1min 58s, sys: 5.36 s, total: 2min 3s
Wall time: 2min 4s

,tax_form,mailing_address_street_name,mailing_address_city,mailing_address_po_box,tax_year,employer_street_name,age,mailing_address_state,employer_state,date_of_birth,...,employer_zipcode,mailing_address_street_number,simulant_id,employer_city,employer_id,first_name,income,employer_street_number,last_name,mailing_address_zipcode
0,W2,se gillette ave,durham,0,2020,edgecliff ct,59,NC,VA,1961-10-19,...,22911,1091,3568_1,virginia beach,1090943,Coleen,55705.868112,NaN,Corbin,28138
1,W2,tumwater ln,s diego,0,2020,n 52nd st,87,CA,MO,1933-07-08,...,65721,140,3568_3,raytown,460472,Carol,62177.505499,309,Nelson,95602
2,W2,tumwater ln,s diego,0,2020,skyview ter,51,CA,GA,1969-01-19,...,31707,140,3568_4,augusta,96598,Cindy,4010.481741,1960,Nelson,95602
3,W2,abbott ct,sherman oaks,0,2020,ince dr,30,CA,FL,1990-06-24,...,32825,2410,3568_5,fort myers,494164,Brandi,26190.257958,e,Marquez,94521
4,W2,abbott ct,sherman oaks,0,2020,stoney crk cir,31,CA,ID,1989-01-09,...,83805,2410,3568_6,bayview,1499355,Chad,15138.669538,NaN,Marquez,94521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9763200,W2,13th ave e,s diego,0,2029,gladys ave,23,CA,MA,2006-01-26,...,1536,8401,3568_1172730,boston,725417,Richard,351.326648,6902,Matayoshi,92122
9763201,1099,choctaw ln,tempe,0,2029,hightower court nthwst,60,AZ,GA,1969-09-27,...,30058,19808,3568_1172735,roswell,1299275,Kerry,12665.206674,4522,Mauvais,85205
9763202,W2,n park ave,brandon,0,2029,clay hise ln,59,MS,IA,1970-12-27,...,52248,7217,3568_1172737,des moines,399446,Roy,8574.277827,828,Peoples,39481
9763203,W2,geranium crecent,henderson,0,2029,us 431 s hwy,30,NV,GA,1999-02-02,...,30228,8222,3568_1172738,atlanta,158167,Teresa,3281.288518,607,Alvarez Caraballo,89081
9763204,W2,campana way,asheville,0,2029,e cyn rd,34,NC,CA,1995-06-01,...,90029,1735,3568_1172741,hayward,894168,Jeremy,1628.188690,6212,Conrad,27703

In [15]:
sizemb(w2[seed]) # 11.3 GB for one seed worth of W2 data

11299.961384

# Load two more seeds of W2 data

In [16]:
for seed in seeds[1:]:
    %time w2[seed] = pd.read_csv(f'{w2_dir}/tax_w2_observer_{seed}.csv.bz2')
    print(sizemb(w2[seed]))
w2.keys()

CPU times: user 2min, sys: 4.9 s, total: 2min 4s
Wall time: 2min 5s
11299.052206
CPU times: user 2min, sys: 5.23 s, total: 2min 5s
Wall time: 2min 6s
11312.750373

dict_keys([3568, 7551, 7086])

In [18]:
sum(sizemb(df) for df in w2.values()) # 33.9 GB for 3 W2 files

33911.763963000005

In [19]:
w2[7551]

,first_name,date_of_birth,employer_unit_number,mailing_address_unit_number,middle_initial,employer_street_number,tax_year,employer_street_name,employer_id,mailing_address_state,...,mailing_address_po_box,employer_zipcode,mailing_address_street_number,last_name,income,ssn,simulant_id,mailing_address_city,mailing_address_street_name,mailing_address_zipcode
0,John,1940-05-30,NaN,NaN,R,NaN,2020,edgecliff ct,747812,NC,...,0,11581,10663,Mix,383500.979969,483-34-7437,7551_0,statesville,may avnu,27576
1,Kathleen,1952-01-21,NaN,NaN,N,309,2020,n 52nd st,1390512,NC,...,0,97229,10663,Mix,28642.613169,128-35-3084,7551_1,statesville,may avnu,27576
2,Kaelyn,1993-10-02,unit 170,NaN,M,1960,2020,skyview ter,1489871,VA,...,0,92374,18090,Romo,21181.917494,454-54-1807,7551_2,gate cty,south ferguson road,23451
3,Julissa,1997-03-10,NaN,NaN,M,e,2020,ince dr,833925,MN,...,0,97058,3919,Foreman,3849.922875,627-61-1851,7551_3,rochester,randle,55398
4,Julissa,1997-03-10,NaN,NaN,M,NaN,2020,stoney crk cir,1622694,MN,...,0,30016,3919,Foreman,959.607820,627-61-1851,7551_3,rochester,randle,55398
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9764266,Adam,1978-09-29,NaN,apartment number b 2,C,38534,2029,maple avenue,943971,NJ,...,0,46992,3873,Woodward,2896.227904,361-35-5654,7551_1172491,long hill twp,w 10th st,7087
9764267,Nia,1979-11-02,NaN,apartment number b 2,C,5444,2029,villa terrace,590022,NJ,...,0,38114,3873,Woodward,3239.621856,712-58-3332,7551_1172492,long hill twp,w 10th st,7087
9764268,Kyle,1985-03-30,apartment 2a,NaN,J,907,2029,scott rd,1404257,IL,...,0,28704,214,Johnsen,3186.105633,035-34-1900,7551_1172495,hoffman estates,norwich rd,60440
9764269,Sarah,1991-06-13,NaN,NaN,M,2139,2029,victorian way,571805,IL,...,0,55416,214,Johnsen,7321.719295,270-13-7963,7551_1172496,hoffman estates,norwich rd,60440
9764270,Patricia,1941-12-26,NaN,NaN,E,7230,2029,davidson st se,636112,NC,...,0,97471,1412,Brown,3531.042875,306-61-5030,7551_1172499,charlotte,cedar lane,28787

# Concatenate 3 W2 files into one dataframe

In [44]:
%%time
%time df_w2 = pd.concat(w2)#, ignore_index=True)
%time df_w2

CPU times: user 6.53 s, sys: 3.88 s, total: 10.4 s
Wall time: 10.4 s
CPU times: user 1e+03 ns, sys: 0 ns, total: 1e+03 ns
Wall time: 3.1 s
CPU times: user 6.53 s, sys: 3.88 s, total: 10.4 s
Wall time: 10.4 s

             tax_form mailing_address_street_name mailing_address_city  \
3568 0             W2             se gillette ave               durham
     1             W2                 tumwater ln              s diego
     2             W2                 tumwater ln              s diego
     3             W2                   abbott ct         sherman oaks
     4             W2                   abbott ct         sherman oaks
...               ...                         ...                  ...
7086 9771288       W2              montgomery ave            san diego
     9771289       W2                  amboy road            royal oak
     9771290       W2           smithfield street               e lake
     9771291       W2           smithfield street               e lake
     9771292     1099                  augusta ct           woodbridge

              mailing_address_po_box  tax_year employer_street_name  age  \
3568 0                             0      2020         edgecliff ct   59
     1                             0      2020            n 52nd st   87
     2                             0      2020          skyview ter   51
     3                             0      2020              ince dr   30
     4                             0      2020       stoney crk cir   31
...                              ...       ...                  ...  ...
7086 9771288                       0      2029         badger drive   59
     9771289                       0      2029        s thorson ave   42
     9771290                       0      2029           sardis ave   41
     9771291                       0      2029         corporate bl   32
     9771292                       0      2029      jefferson hghts   34

             mailing_address_state employer_state date_of_birth  ...  \
3568 0                          NC             VA    1961-10-19  ...
     1                          CA             MO    1933-07-08  ...
     2                          CA             GA    1969-01-19  ...
     3                          CA             FL    1990-06-24  ...
     4                          CA             ID    1989-01-09  ...
...                            ...            ...           ...  ...
7086 9771288                    CA             MN    1970-12-29  ...
     9771289                    MI             MO    1987-11-29  ...
     9771290                    FL             NY    1988-10-18  ...
     9771291                    FL             TN    1997-02-05  ...
     9771292                    VA             MN    1995-12-28  ...

             employer_zipcode mailing_address_street_number   simulant_id  \
3568 0                  22911                          1091        3568_1
     1                  65721                           140        3568_3
     2                  31707                           140        3568_4
     3                  32825                          2410        3568_5
     4                  83805                          2410        3568_6
...                       ...                           ...           ...
7086 9771288            55317                          8433  7086_1173356
     9771289            63801                           992  7086_1173357
     9771290            11518                          2598  7086_1173363
     9771291            38390                          2598  7086_1173364
     9771292            55332                          9419  7086_1173367

               employer_city employer_id  first_name        income  \
3568 0        virginia beach     1090943      Coleen  55705.868112
     1               raytown      460472       Carol  62177.505499
     2               augusta       96598       Cindy   4010.481741
     3            fort myers      494164      Brandi  26190.257958
     4               bayview     1499355        Chad  15138.669538
...                      ...         ...         ...           ...
7086 9771288      saint paul      101306       Mindy  11149.321244
     9771289        columbia     1414918     Vincent   2681.646947
     9771290        new york     1176581      Keaton   6040.637877
     9771291         memphis     1032031    Mercedes   2516.064390
     9771292          chaska      351132        Cody   4368.147077

             employer_street_number      last_name  mailing_address_zipcode
3568 0                          NaN         Corbin                    28138
     1                          309         Nelson                    95602
     2                         1960         Nelson                    95602
     3                            e        Marquez                    94521
     4                          NaN        Marquez                    94521
...                             ...            ...                      ...
7086 9771288                   2549        Carrano                    93268
     9771289                   3563         Pender                    48098
     9771290                   6801  Villavicencio                    32821
     9771291                  25682  Villavicencio                    32821
     9771292                    443         Jasani                    22407

[29298769 rows x 25 columns]

In [26]:
sizemb(df_w2) # Cool, same as above: 33.9 GB for the concatenated dataframe

33911.763675

# Check that output from different seeds has same columns

Yes, but they're in different orders for some reason.

In [27]:
w2[seeds[0]].columns == w2[seeds[1]].columns

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True])

In [28]:
w2[seeds[0]].columns

Index(['tax_form', 'mailing_address_street_name', 'mailing_address_city',
       'mailing_address_po_box', 'tax_year', 'employer_street_name', 'age',
       'mailing_address_state', 'employer_state', 'date_of_birth',
       'employer_unit_number', 'mailing_address_unit_number', 'employer_name',
       'ssn', 'middle_initial', 'employer_zipcode',
       'mailing_address_street_number', 'simulant_id', 'employer_city',
       'employer_id', 'first_name', 'income', 'employer_street_number',
       'last_name', 'mailing_address_zipcode'],
      dtype='object')

In [29]:
w2[seeds[1]].columns

Index(['first_name', 'date_of_birth', 'employer_unit_number',
       'mailing_address_unit_number', 'middle_initial',
       'employer_street_number', 'tax_year', 'employer_street_name',
       'employer_id', 'mailing_address_state', 'tax_form', 'employer_name',
       'age', 'employer_state', 'employer_city', 'mailing_address_po_box',
       'employer_zipcode', 'mailing_address_street_number', 'last_name',
       'income', 'ssn', 'simulant_id', 'mailing_address_city',
       'mailing_address_street_name', 'mailing_address_zipcode'],
      dtype='object')

In [32]:
w2[seeds[0]].columns.sort_values() == w2[seeds[1]].columns.sort_values()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True])

In [33]:
w2[seeds[0]].columns.sort_values() == w2[seeds[2]].columns.sort_values()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True])

# Check that whenever employer ID is the same, so is employer name

In other words, we want to know that the number of employer names for each employer ID equals 1.

## Yes, it's the same across seeds, but one employer name is blank in all three shards...

In [35]:
%autoreload 0

In [45]:
df_w2

             tax_form mailing_address_street_name mailing_address_city  \
3568 0             W2             se gillette ave               durham
     1             W2                 tumwater ln              s diego
     2             W2                 tumwater ln              s diego
     3             W2                   abbott ct         sherman oaks
     4             W2                   abbott ct         sherman oaks
...               ...                         ...                  ...
7086 9771288       W2              montgomery ave            san diego
     9771289       W2                  amboy road            royal oak
     9771290       W2           smithfield street               e lake
     9771291       W2           smithfield street               e lake
     9771292     1099                  augusta ct           woodbridge

              mailing_address_po_box  tax_year employer_street_name  age  \
3568 0                             0      2020         edgecliff ct   59
     1                             0      2020            n 52nd st   87
     2                             0      2020          skyview ter   51
     3                             0      2020              ince dr   30
     4                             0      2020       stoney crk cir   31
...                              ...       ...                  ...  ...
7086 9771288                       0      2029         badger drive   59
     9771289                       0      2029        s thorson ave   42
     9771290                       0      2029           sardis ave   41
     9771291                       0      2029         corporate bl   32
     9771292                       0      2029      jefferson hghts   34

             mailing_address_state employer_state date_of_birth  ...  \
3568 0                          NC             VA    1961-10-19  ...
     1                          CA             MO    1933-07-08  ...
     2                          CA             GA    1969-01-19  ...
     3                          CA             FL    1990-06-24  ...
     4                          CA             ID    1989-01-09  ...
...                            ...            ...           ...  ...
7086 9771288                    CA             MN    1970-12-29  ...
     9771289                    MI             MO    1987-11-29  ...
     9771290                    FL             NY    1988-10-18  ...
     9771291                    FL             TN    1997-02-05  ...
     9771292                    VA             MN    1995-12-28  ...

             employer_zipcode mailing_address_street_number   simulant_id  \
3568 0                  22911                          1091        3568_1
     1                  65721                           140        3568_3
     2                  31707                           140        3568_4
     3                  32825                          2410        3568_5
     4                  83805                          2410        3568_6
...                       ...                           ...           ...
7086 9771288            55317                          8433  7086_1173356
     9771289            63801                           992  7086_1173357
     9771290            11518                          2598  7086_1173363
     9771291            38390                          2598  7086_1173364
     9771292            55332                          9419  7086_1173367

               employer_city employer_id  first_name        income  \
3568 0        virginia beach     1090943      Coleen  55705.868112
     1               raytown      460472       Carol  62177.505499
     2               augusta       96598       Cindy   4010.481741
     3            fort myers      494164      Brandi  26190.257958
     4               bayview     1499355        Chad  15138.669538
...                      ...         ...         ...           ...
7086 9771288      saint paul      101306       Mindy  11149.321244
     9771289        columbia     1414918     Vincent   2681.646947
     9771290        new york     1176581      Keaton   6040.637877
     9771291         memphis     1032031    Mercedes   2516.064390
     9771292          chaska      351132        Cody   4368.147077

             employer_street_number      last_name  mailing_address_zipcode
3568 0                          NaN         Corbin                    28138
     1                          309         Nelson                    95602
     2                         1960         Nelson                    95602
     3                            e        Marquez                    94521
     4                          NaN        Marquez                    94521
...                             ...            ...                      ...
7086 9771288                   2549        Carrano                    93268
     9771289                   3563         Pender                    48098
     9771290                   6801  Villavicencio                    32821
     9771291                  25682  Villavicencio                    32821
     9771292                    443         Jasani                    22407

[29298769 rows x 25 columns]

In [46]:
%%time
employer_name_counts = df_w2.groupby("employer_id")['employer_name'].nunique()
employer_name_counts

CPU times: user 19.1 s, sys: 848 ms, total: 20 s
Wall time: 20 s

employer_id
1          1
2          1
3          1
5          1
6          1
          ..
1745101    1
1745102    1
1745103    1
1745104    1
1745105    1
Name: employer_name, Length: 1598892, dtype: int64

In [47]:
employer_name_counts.unique()

array([1, 0])

In [48]:
employer_name_counts.value_counts()

1    1598891
0          1
Name: employer_name, dtype: int64

In [49]:
employer_name_counts.loc[employer_name_counts==0]

employer_id
1726494    0
Name: employer_name, dtype: int64

# Look into the employer with a missing name

It occurs in all three seeds.

In [50]:
%%time
df_weird_employer = df_w2.loc[df_w2.employer_id==1726494]
df_weird_employer

CPU times: user 7.78 s, sys: 6.12 s, total: 13.9 s
Wall time: 13.9 s

             tax_form mailing_address_street_name mailing_address_city  \
3568 1199313       W2                delrose dr n              buffalo
     1487743       W2                  bedard ave             new york
     1834319       W2                blackhawk dr              oshkosh
     2150485       W2                delrose dr n              buffalo
     2442728       W2                  bedard ave             new york
     2799678       W2                waterview ct           birmingham
     3117061       W2                delrose dr n              buffalo
     4094760       W2                delrose dr n              buffalo
     5091871     1099                delrose dr n              buffalo
     5117346       W2            east dundee raod           northbrook
     6128562       W2            east dundee raod           northbrook
     6561378       W2               timberline tr             lake jem
     7128783       W2            east dundee raod           northbrook
     8135231       W2            east dundee raod           northbrook
     8989458       W2                    salem ln               harvey
     9110737     1099           w morningview crt              norwalk
7551 293800        W2               putman street        lawrenceville
     402280        W2            e westerling way            lancaster
     480787        W2                cleeve abbey          springfield
     626231        W2                 16th ave ne               tulare
     1166487       W2                  n pico ave               bangor
     1288872       W2            e westerling way            lancaster
     1377453     1099                  arapaho dr            kissimmee
     1541535       W2                 16th ave ne               tulare
     2497958       W2                 16th ave ne               tulare
     3496307       W2                    95 stree              davison
     4002319       W2                haverhill ct              atlanta
     4474522       W2                    95 stree              davison
     4996114       W2                haverhill ct              atlanta
     5483776       W2                    95 stree              davison
     6486097       W2                    95 stree              davison
     7486996       W2                    95 stree              davison
     8493729       W2                    95 stree              davison
     8595321       W2                    vista dr          brooksville
     9608653       W2                    vista dr          brooksville
7086 167904        W2                      eme rd               socrum
     1023950       W2                      eme rd               socrum
     1973973       W2                      eme rd               socrum
     2940564       W2                   cmmns ave           gardendale
     3720451       W2                mooretown rd             new york
     4700663       W2                mooretown rd             new york
     5717707       W2                mooretown rd             new york
     9593205       W2                   w 2nd ave               oxnard

              mailing_address_po_box  tax_year employer_street_name  age  \
3568 1199313                       0      2021          duvan drive   25
     1487743                       0      2021          duvan drive   36
     1834319                       0      2022          duvan drive   25
     2150485                       0      2022          duvan drive   26
     2442728                       0      2022          duvan drive   37
     2799678                       0      2023          duvan drive   26
     3117061                       0      2023          duvan drive   27
     4094760                       0      2024          duvan drive   28
     5091871                       0      2025          duvan drive   29
     5117346                       0      2025          duvan drive   86
     6128562                       0      2026          duvan drive   87
     6561378                       0      2026          duvan drive   40
     7128783                       0      2027          duvan drive   88
     8135231                       0      2028          duvan drive   89
     8989458                       0      2029           nw 64th pl   62
     9110737                       0      2029           nw 64th pl   75
7551 293800                        0      2020             first st   28
     402280                        0      2020             first st   45
     480787                        0      2020             first st   58
     626231                        0      2020             first st   27
     1166487                       0      2021           mcclure st   29
     1288872                       0      2021           mcclure st   46
     1377453                       0      2021           mcclure st   59
     1541535                       0      2021           mcclure st   28
     2497958                       0      2022           mcclure st   29
     3496307                       0      2023           mcclure st   64
     4002319                       0      2024           mcclure st   39
     4474522                       0      2024           mcclure st   65
     4996114                       0      2025           mcclure st   40
     5483776                       0      2025           mcclure st   66
     6486097                       0      2026           mcclure st   67
     7486996                       0      2027           mcclure st   68
     8493729                       0      2028           mcclure st   69
     8595321                       0      2028           mcclure st   25
     9608653                       0      2029          margaret st   26
7086 167904                        0      2020          lake gln dr   38
     1023950                       0      2021            w 38th st   39
     1973973                       0      2022            w 38th st   40
     2940564                       0      2023            w 38th st   41
     3720451                       0      2023            w 38th st   35
     4700663                       0      2024            w 38th st   36
     5717707                       0      2025            w 38th st   37
     9593205                       0      2029        rose villa st   48

             mailing_address_state employer_state date_of_birth  ...  \
3568 1199313                    NY             NY    1996-04-25  ...
     1487743                    NY             NY    1985-08-06  ...
     1834319                    WI             NY    1997-06-29  ...
     2150485                    NY             NY    1996-04-25  ...
     2442728                    NY             NY    1985-08-06  ...
     2799678                    AL             NY    1997-06-29  ...
     3117061                    NY             NY    1996-04-25  ...
     4094760                    NY             NY    1996-04-25  ...
     5091871                    NY             NY    1996-04-25  ...
     5117346                    IL             NY    1939-11-04  ...
     6128562                    IL             NY    1939-11-04  ...
     6561378                    FL             NY    1986-05-29  ...
     7128783                    IL             NY    1939-11-04  ...
     8135231                    IL             NY    1939-11-04  ...
     8989458                    LA             VA    1967-09-20  ...
     9110737                    OH             VA    1954-11-12  ...
7551 293800                     GA             AK    1992-05-03  ...
     402280                     CA             AK    1975-07-10  ...
     480787                     MA             AK    1962-01-04  ...
     626231                     CA             AK    1993-11-26  ...
     1166487                    ME             NY    1992-05-03  ...
     1288872                    CA             NY    1975-07-10  ...
     1377453                    FL             NY    1962-01-04  ...
     1541535                    CA             NY    1993-11-26  ...
     2497958                    CA             NY    1993-11-26  ...
     3496307                    MI             NY    1959-12-02  ...
     4002319                    GA             NY    1985-05-03  ...
     4474522                    MI             NY    1959-12-02  ...
     4996114                    GA             NY    1985-05-03  ...
     5483776                    MI             NY    1959-12-02  ...
     6486097                    MI             NY    1959-12-02  ...
     7486996                    MI             NY    1959-12-02  ...
     8493729                    MI             NY    1959-12-02  ...
     8595321                    FL             NY    2003-06-18  ...
     9608653                    FL             VA    2003-06-18  ...
7086 167904                     FL             AK    1982-06-14  ...
     1023950                    FL             NY    1982-06-14  ...
     1973973                    FL             NY    1982-06-14  ...
     2940564                    AL             NY    1982-06-14  ...
     3720451                    NY             NY    1988-04-16  ...
     4700663                    NY             NY    1988-04-16  ...
     5717707                    NY             NY    1988-04-16  ...
     9593205                    CA             VA    1981-11-23  ...

             employer_zipcode mailing_address_street_number   simulant_id  \
3568 1199313            13368                          5334   3568_391687
     1487743            13368                         14857   3568_700485
     1834319            13368                           905    3568_57225
     2150485            13368                          5334   3568_391687
     2442728            13368                         14857   3568_700485
     2799678            13368                         48715    3568_57225
     3117061            13368                          5334   3568_391687
     4094760            13368                          5334   3568_391687
     5091871            13368                          5334   3568_391687
     5117346            13368                          1030   3568_417644
     6128562            13368                          1030   3568_417644
     6561378            13368                           909   3568_867651
     7128783            13368                          1030   3568_417644
     8135231            13368                          1030   3568_417644
     8989458            22033                           602   3568_252978
     9110737            22033                           805   3568_378488
7551 293800             99762                           247   7551_356475
     402280             99762                         11344   7551_487113
     480787             99762                          7990   7551_582071
     626231             99762                         19724   7551_757708
     1166487            13636                          6506   7551_356475
     1288872            13636                         11344   7551_487113
     1377453            13636                          5050   7551_582071
     1541535            13636                         19724   7551_757708
     2497958            13636                         19724   7551_757708
     3496307            13636                           304   7551_787900
     4002319            13636                          5720   7551_294114
     4474522            13636                           304   7551_787900
     4996114            13636                          5720   7551_294114
     5483776            13636                           304   7551_787900
     6486097            13636                           304   7551_787900
     7486996            13636                           304   7551_787900
     8493729            13636                           304   7551_787900
     8595321            13636                           105   7551_893371
     9608653            20170                           105   7551_893371
7086 167904             99826                          3418   7086_203678
     1023950            13650                          3418   7086_203678
     1973973            13650                          3418   7086_203678
     2940564            13650                          1127   7086_203678
     3720451            13650                            47  7086_1052795
     4700663            13650                            47  7086_1052795
     5717707            13650                            47  7086_1052795
     9593205            20194                         17403   7086_871437

             employer_city employer_id  first_name         income  \
3568 1199313         ridge     1726494     Jasmine   14294.022167
     1487743         ridge     1726494       Jamie   21221.537718
     1834319         ridge     1726494        Jose    4951.717395
     2150485         ridge     1726494     Jasmine   46455.572042
     2442728         ridge     1726494       Jamie    9094.944736
     2799678         ridge     1726494        Jose   54468.891344
     3117061         ridge     1726494     Jasmine   46455.572042
     4094760         ridge     1726494     Jasmine   46455.572042
     5091871         ridge     1726494     Jasmine   14294.022167
     5117346         ridge     1726494      Robert   22471.837264
     6128562         ridge     1726494      Robert   29213.388443
     6561378         ridge     1726494      Ashley    6140.527254
     7128783         ridge     1726494      Robert   29213.388443
     8135231         ridge     1726494      Robert    4494.367453
     8989458    woodbridge     1726494        Jill   20142.273352
     9110737    woodbridge     1726494    Georgina    1928.722225
7551 293800      anchorage     1726494       Kylie   21797.753763
     402280      anchorage     1726494       Jason   66088.958311
     480787      anchorage     1726494      Thomas    9576.525333
     626231      anchorage     1726494       Emily    2505.273918
     1166487        greece     1726494       Kylie   15258.427634
     1288872        greece     1726494       Jason   26435.583324
     1377453        greece     1726494      Thomas    6703.567733
     1541535        greece     1726494       Emily   32568.560940
     2497958        greece     1726494       Emily   12526.369592
     3496307        greece     1726494       Cindy    5076.604253
     4002319        greece     1726494       Jason    3935.904800
     4474522        greece     1726494       Cindy   21998.618430
     4996114        greece     1726494       Jason   19310.454422
     5483776        greece     1726494       Cindy   23690.819848
     6486097        greece     1726494       Cindy   21998.618430
     7486996        greece     1726494       Cindy   21998.618430
     8493729        greece     1726494       Cindy   16922.014177
     8595321        greece     1726494       Kevin   17853.779416
     9608653       henrico     1726494       Kevin    3824.703946
7086 167904      anchorage     1726494       Tracy   13767.359237
     1023950         olean     1726494       Tracy   59658.556695
     1973973         olean     1726494       Tracy   63204.283358
     2940564         olean     1726494       Tracy   25900.370947
     3720451         olean     1726494        Dana   27392.451377
     4700663         olean     1726494        Dana  178050.933947
     5717707         olean     1726494        Dana   95873.579818
     9593205  newport news     1726494        Adam    7392.376888

             employer_street_number last_name  mailing_address_zipcode
3568 1199313                  10228     Noble                    11206
     1487743                  10228   Cordova                    10469
     1834319                  10228     Witte                    54703
     2150485                  10228     Noble                    11206
     2442728                  10228   Cordova                    10469
     2799678                  10228     Witte                    35124
     3117061                  10228     Noble                    11206
     4094760                  10228     Noble                    11206
     5091871                  10228     Noble                    11206
     5117346                  10228    Beitel                    60435
     6128562                  10228    Beitel                    60435
     6561378                  10228     Hegar                    32767
     7128783                  10228    Beitel                    60435
     8135231                  10228    Beitel                    60435
     8989458                   5489     Brown                    71254
     9110737                   5489   Fennell                    43207
7551 293800                   10209  Neubauer                    30824
     402280                   10209  Atkinson                    91977
     480787                   10209    Krause                     1225
     626231                   10209  Anderson                    91761
     1166487                  17006  Neubauer                     4786
     1288872                  17006  Atkinson                    91977
     1377453                  17006    Krause                    34420
     1541535                  17006  Anderson                    91761
     2497958                  17006  Anderson                    91761
     3496307                  17006   Zeimetz                    48817
     4002319                  17006   Randall                    30236
     4474522                  17006   Zeimetz                    48817
     4996114                  17006   Randall                    30236
     5483776                  17006   Zeimetz                    48817
     6486097                  17006   Zeimetz                    48817
     7486996                  17006   Zeimetz                    48817
     8493729                  17006   Zeimetz                    48817
     8595321                  17006    Porter                    33603
     9608653                   2441    Porter                    33603
7086 167904                    7340  Jennings                    32277
     1023950                  24416  Jennings                    32277
     1973973                  24416  Jennings                    32277
     2940564                  24416  Jennings                    35124
     3720451                  24416    Karnam                    11214
     4700663                  24416    Karnam                    11214
     5717707                  24416    Karnam                    11214
     9593205                    807     Young                    94801

[43 rows x 25 columns]

In [51]:
df_weird_employer.employer_name

3568  1199313    NaN
      1487743    NaN
      1834319    NaN
      2150485    NaN
      2442728    NaN
      2799678    NaN
      3117061    NaN
      4094760    NaN
      5091871    NaN
      5117346    NaN
      6128562    NaN
      6561378    NaN
      7128783    NaN
      8135231    NaN
      8989458    NaN
      9110737    NaN
7551  293800     NaN
      402280     NaN
      480787     NaN
      626231     NaN
      1166487    NaN
      1288872    NaN
      1377453    NaN
      1541535    NaN
      2497958    NaN
      3496307    NaN
      4002319    NaN
      4474522    NaN
      4996114    NaN
      5483776    NaN
      6486097    NaN
      7486996    NaN
      8493729    NaN
      8595321    NaN
      9608653    NaN
7086  167904     NaN
      1023950    NaN
      1973973    NaN
      2940564    NaN
      3720451    NaN
      4700663    NaN
      5717707    NaN
      9593205    NaN
Name: employer_name, dtype: object

In [52]:
df_weird_employer.employer_state

3568  1199313    NY
      1487743    NY
      1834319    NY
      2150485    NY
      2442728    NY
      2799678    NY
      3117061    NY
      4094760    NY
      5091871    NY
      5117346    NY
      6128562    NY
      6561378    NY
      7128783    NY
      8135231    NY
      8989458    VA
      9110737    VA
7551  293800     AK
      402280     AK
      480787     AK
      626231     AK
      1166487    NY
      1288872    NY
      1377453    NY
      1541535    NY
      2497958    NY
      3496307    NY
      4002319    NY
      4474522    NY
      4996114    NY
      5483776    NY
      6486097    NY
      7486996    NY
      8493729    NY
      8595321    NY
      9608653    VA
7086  167904     AK
      1023950    NY
      1973973    NY
      2940564    NY
      3720451    NY
      4700663    NY
      5717707    NY
      9593205    VA
Name: employer_state, dtype: object