In [1]:
import numpy as np, pandas as pd

!date
!whoami

Mon Mar 20 12:36:58 PDT 2023
zmbc

# Find data

In [2]:
output_dir = '/ihme/scratch/users/zmbc/vivarium_results/united_states_of_america/2023_03_20_11_09_48/final_results/2023_03_20_12_31_44'

!ls -lh $output_dir

total 32K
drwxrwxr-x 2 zmbc Domain Users 512 Mar 20 12:35 decennial_census_observer
drwxrwxr-x 2 zmbc Domain Users 512 Mar 20 12:35 household_survey_observer_acs
drwxrwxr-x 2 zmbc Domain Users 512 Mar 20 12:35 household_survey_observer_cps
drwxrwxr-x 2 zmbc Domain Users 512 Mar 20 12:35 social_security_observer
drwxrwxr-x 2 zmbc Domain Users 512 Mar 20 12:35 tax_1040_observer
drwxrwxr-x 2 zmbc Domain Users 512 Mar 20 12:35 tax_dependents_observer
drwxrwxr-x 2 zmbc Domain Users 512 Mar 20 12:35 tax_w2_observer
drwxrwxr-x 2 zmbc Domain Users 512 Mar 20 12:35 wic_observer

In [3]:
!ls -lh $output_dir/decennial_census_observer

total 496K
-rwxr-xr-x 1 zmbc Domain Users 490K Mar 20 12:35 decennial_census_observer.csv.bz2

# Load decennial Census

In [4]:
%%time

df_census = pd.read_csv(f'{output_dir}/decennial_census_observer/decennial_census_observer.csv.bz2')
df_census

CPU times: user 157 ms, sys: 16.3 ms, total: 173 ms
Wall time: 180 ms

,middle_initial,state,age,housing_type,city,date_of_birth,simulant_id,unit_number,guardian_1,relation_to_household_head,sex,zipcode,race_ethnicity,last_name,year,street_number,street_name,guardian_2,first_name
0,M,USA,76.024932,Standard,Anytown,1944-03-23,0_4,NaN,0_-1,Reference person,Female,90210,Black,Shipp,2020,1312,commonwealth avnue,0_-1,Maureen
1,N,USA,69.075260,Standard,Anytown,1951-03-05,0_5,NaN,0_-1,Opp-sex spouse,Male,90210,Black,Shipp,2020,1312,commonwealth avnue,0_-1,Richard
2,C,USA,66.661179,Standard,Anytown,1953-08-03,0_2464,NaN,0_-1,Reference person,Female,90210,Black,Holt,2020,46,bancroft st,0_-1,Darlene
3,S,USA,42.860033,Standard,Anytown,1977-05-22,0_3558,NaN,0_-1,Reference person,Female,90210,Black,Holt,2020,9112,janis ne,0_-1,Tabatha
4,M,USA,25.293532,Standard,Anytown,1994-12-16,0_3559,NaN,0_-1,Biological child,Female,90210,Black,Holt,2020,9112,janis ne,0_-1,Alice
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19949,S,USA,66.493182,Standard,Anytown,1963-09-21,0_17995,NaN,0_-1,Reference person,Male,90210,White,Wasser,2030,5700,n cr 400 e,0_-1,John
19950,K,USA,77.426139,Standard,Anytown,1952-10-15,0_18073,NaN,0_-1,Reference person,Male,90210,Black,Hughes,2030,21,mammoth springs dr,0_-1,Clyde
19951,C,USA,2.432617,Standard,Anytown,2027-11-11,0_22588,NaN,0_14366,Reference person,Female,90210,Black,Walker,2030,8728,high pine meadows r,0_-1,Stephanie
19952,D,USA,23.517320,Standard,Anytown,2006-10-10,0_22759,NaN,0_-1,Reference person,Male,90210,White,Foster,2030,1900,ranch loop,0_-1,Austin
19953,E,USA,22.588195,Standard,Anytown,2007-09-15,0_22760,NaN,0_-1,Roommate,Male,90210,White,Smith,2030,1900,ranch loop,0_-1,Chandler

In [5]:
df_census.groupby('year').size()

year
2020    9979
2030    9975
dtype: int64

## Overlap between consecutive Censuses

This is probably too little overlap, but close enough? Definitely enough for a meaningful PRL exercise.

In [6]:
df_census[df_census.year == 2030].assign(in_2020_census=lambda df: df.simulant_id.isin(df_census[df_census.year == 2020].simulant_id)).in_2020_census.value_counts(dropna=False)

True     5703
False    4272
Name: in_2020_census, dtype: int64

# 1040

In [7]:
%%time

df_1040 = pd.read_csv(f'{output_dir}/tax_1040_observer/tax_1040_observer.csv.bz2')
df_1040

CPU times: user 583 ms, sys: 28 ms, total: 612 ms
Wall time: 632 ms

,middle_initial,mailing_address_unit_number,ssn,mailing_address_state,joint_filer,age,housing_type,date_of_birth,simulant_id,mailing_address_street_name,itin,mailing_address_zipcode,mailing_address_city,last_name,mailing_address_po_box,mailing_address_street_number,tax_year,first_name
0,M,NaN,828-99-4653,USA,False,76.024932,Standard,1944-03-23,0_4,commonwealth avnue,NaN,90210,Anytown,Shipp,0,1312,2019,Maureen
1,N,NaN,885-38-0858,USA,True,69.075260,Standard,1951-03-05,0_5,commonwealth avnue,NaN,90210,Anytown,Shipp,0,1312,2019,Richard
2,C,NaN,584-19-7087,USA,False,66.661179,Standard,1953-08-03,0_2464,bancroft st,NaN,90210,Anytown,Holt,0,46,2019,Darlene
3,S,NaN,813-32-2963,USA,False,42.860033,Standard,1977-05-22,0_3558,janis ne,NaN,90210,Anytown,Holt,0,9112,2019,Tabatha
4,M,NaN,607-79-1610,USA,False,25.293532,Standard,1994-12-16,0_3559,janis ne,NaN,90210,Anytown,Holt,0,9112,2019,Alice
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116312,B,NaN,088-27-8587,USA,False,13.883349,Standard,2016-05-01,0_12669,ocean avenue,NaN,90210,Anytown,Rubio,0,2569,2029,Michael
116313,K,NaN,028-47-6626,USA,False,27.497492,Standard,2002-09-20,0_12670,ocean avenue,NaN,90210,Anytown,Rubio,0,2569,2029,Alana
116314,C,NaN,796-80-2013,USA,False,26.185562,Standard,2004-01-12,0_12671,ocean avenue,NaN,90210,Anytown,Rubio,0,2569,2029,Emily
116315,B,NaN,482-54-0254,USA,False,9.634704,Standard,2020-08-28,0_20143,ocean avenue,NaN,90210,Anytown,Rubio,0,2569,2029,Joaquin
116316,K,NaN,105-49-3492,USA,False,77.426139,Standard,1952-10-15,0_18073,mammoth springs dr,NaN,90210,Anytown,Hughes,0,21,2029,Clyde

## Overlap between consecutive tax years

In [8]:
df_1040.tax_year.value_counts(dropna=False)

2029    11160
2028    11063
2027    10974
2026    10860
2025    10735
2024    10525
2023    10381
2022    10337
2021    10213
2020    10083
2019     9986
Name: tax_year, dtype: int64

In [9]:
df_1040[df_1040.tax_year == 2028].assign(in_2027_taxes=lambda df: df.simulant_id.isin(df_1040[df_1040.tax_year == 2027].simulant_id)).in_2027_taxes.value_counts(dropna=False)

True     10429
False      634
Name: in_2027_taxes, dtype: int64

## Why does taxes have more rows than Census?

I think because it is including people who have died, and does not implement the minimum income for filing (!).

In [10]:
df_1040[df_1040.tax_year == 2029].simulant_id.is_unique

True

In [11]:
not_in_census = df_1040[(df_1040.tax_year == 2029) & (~df_1040.simulant_id.isin(df_census[df_census.year == 2030].simulant_id))]
(pd.to_datetime(not_in_census.date_of_birth).dt.year + not_in_census.age).describe()

count    1185.000000
mean     2024.876258
std         2.881087
min      2019.255773
25%      2022.376241
50%      2025.003906
75%      2027.346760
max      2030.004095
dtype: float64